@import "src/styles";

$category_with: 350px;

.link-category {
  color: white;
  text-decoration: none;
}

.category {
  width: 568px;
  height: 568px;

  &-image {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  &-city {
    font-style: italic;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
    @include large-desktop() {
      font-size: 15px;
    }
    @include desktop() {
      font-size: 12px;
    }
    @include tablet(){
      font-size: 12px;
    }
    @include phone(){
      font-size: 12px;
    }

  }

  &-quater {
    font-style: italic;
    font-size: 20px;
    margin: 20px 0;

    @include desktop() {
      font-size: 12px;
    }
    @include tablet(){
      font-size: 12px;

    }

  }

  &-title {
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0;

  }

  &-description {
    font-size: 25px;
    font-weight: normal;
    margin-top: 20px;
    font-style: normal !important;
    letter-spacing: .30px;
    line-height: 1.5;
    @include desktop() {
      font-size: 15px;
    }
    @include tablet(){
      font-size: 15px;
    }
    @include phone(){
      font-size: 13px;

    }

  }


  @include desktop() {
    width: $category_with;
  }
  @include tablet() {
    width: $category_with;
  }
  @include phone(){
    width: 150px;
    height: auto;
  }
}
