.link-category{
  color: white;
  text-decoration: none;
}

.category{
  width: 568px;
  height: 568px;
  &-image{
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  &-city{
    font-style: italic;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;

  }
  &-quater{
    font-style: italic;
    font-size: 20px;
    margin: 20px 0 ;
  }


  &-title{
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0;
  }

  &-description{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: .30px;
    line-height: 1;

  }

}
