<app-layout>
  <div class="detail-program">
    <div class="title-program">
      <span class="title">{{currentObject.title}}</span><br>
      <span class="category-title">{{currentObject.category.title}}</span>
      <span class="sub-title">
        {{currentObject.category.more}}
        <a class="category-link">{{currentObject.category.link}}</a>
      </span>
    </div><br>
    <div class="image-program">
      <img [src]="currentObject.imgSrc" alt="about-us image">
    </div><br><br>
    <div class="description-program">
      <p style="font-size: 25px; line-height: 35px">{{currentObject.content}}</p>
    </div>
    <div class="locality-program">
      <ng-template [ngIf]="currentObject.details.title1">
        <div class="locality-title">{{currentObject.details.title1}}</div>
        <div class="locality-content">
          <p *ngFor="let c of currentObject.details.content1">{{c}}</p>
        </div><br>
      </ng-template>
      <ng-template [ngIf]="currentObject.details.title2">
        <div class="locality-title">{{currentObject.details.title2}}</div>
        <div class="locality-content">
          <p *ngFor="let c2 of currentObject.details.content2">{{c2}}</p>
        </div>
      </ng-template>
    </div>
    <div class="other-events">
      <ng-template [ngIf]="currentObject.details.other.title">
        <div class="other-events-title">{{currentObject.details.other.title}}</div>
      </ng-template><br>
      <ng-template [ngIf]="currentObject.details.other.events">
        <div class="events">
          <div class="event" *ngFor="let ev of currentObject.details.other.events">
            <div class="event-category">{{ev.category}}</div>
            <div class="event-title">{{ev.title}}</div><br><br>
            <div class="event-img">
              <img class="src-event-img" [src]="ev.image" alt="ev image">
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</app-layout>
