@import "src/styles";
.link-program{
  color: white;
  text-decoration: none;
  display: flex;



  @include tablet() {
    flex-direction: column;
  };
}

.program-item-date {
  @include tablet() {
    display: flex;

    & .program-item-date-hour {
      font-size: 22px;
      margin-top: 0;
      margin-left: 20px;
    }
  }

  @include phone() {
    display: flex;

    & .program-item-date-day {
      font-size: 12px;
    }

    & .program-item-date-hour {
      font-size: 12px;
      margin-top: 0px;
      margin-left: 20px;
    }
  }
}

.program-item-left {
  @include phone() {
    & .program-item-image {
      margin-top: 10px !important;
    }

    & .program-item-content {
      width: 100%;
    }
  }
  @include tablet() {
    display: flex;
    flex-direction: column;
    margin-top: 10px !important;

    & .program-item-image {
      width: 100%;
      height: auto;
    }

    & .program-item-content {
      margin-top: 24px;
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .link-program{
    display: block;
  }
}
