<app-layout>

  <app-circle radius="150px" style="position: absolute; right:-100px ; top: 300px"></app-circle>

  <div style="display: flex; align-items: center; justify-content: center; margin-top: 64px">
    <div style="width: 700px; max-width: 98%">
      <h3>Kontakt</h3>

      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email">
        </div>

        <div class="form-field">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name">
        </div>

        <div class="form-field">
          <label for="message">Nachricht</label>
          <textarea id="message" rows="10" formControlName="message"></textarea>
        </div>

        <div style="margin-top: 32px; text-align: right">
          <button type="submit" class="form-button">Senden</button>
        </div>
      </form>

      <div>
        <h3>Kontakt</h3>
        <h3>Ansprechpreson</h3>
        <h3>Telefonnummer</h3>
        <h3>Email</h3>
      </div>
    </div>
  </div>
</app-layout>
