<app-layout>

  <app-circle radius="100px" style="position: absolute; right:40% ; bottom: 97px"></app-circle>

  <div style="display: flex; align-items: center; justify-content: center; margin-top: 64px; margin-bottom: 121px;">
    <div style="width: 700px; max-width: 98%">
      <h3>Kontakt</h3>

      <form [formGroup]="checkoutForm">
        <div class="form-field">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email">
        </div>

        <div class="form-field">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name">
        </div>

        <div class="form-field">
          <label for="message">Nachricht</label>
          <textarea id="message" rows="10" formControlName="message"></textarea>
        </div>

        <div style="margin-top: 32px; text-align: right;position: relative">
          <div *ngIf="loading" style="position: absolute;margin-top: 5px;margin-left: 40px">
            <mat-spinner diameter="30"></mat-spinner>
          </div>
          <button  style="display: flex" type="submit" class="form-button" (click)="onSubmit()">
            Senden
          </button>
        </div>

      </form>

      <div style="margin-top: 84px">

        <div style="margin-top: 64px">
          <div>0+1</div>
          <div>Festival für Diversität + Komplexität (als Logo)</div>
          <div>Bildungswerk Vielfalt/VMDO e.V.</div>
          <div>Beuthstr. 21</div>
          <div>44147 Dortmund</div>
          <div>Tel.: 0231 28 678 165</div>
          <div>Mail: mail@nullpluseinsfestival.de</div>
          <div>Instagram: @Bildungswerk_vielfalt (https://instagram.com/Bildungswerk_vielfalt verlinken)</div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
