<!--<img src="/assets/poster_2480x3508px_150dpi_RGB.jpg" alt="Home image"-->

<!--style="width: 100%">-->

<div class="page">
<div style="display: flex; align-items: center; justify-content: center;">
  <div style="width: 1200px; height: 100vh; max-height: 100%; max-width: 100%">

    <img src="/assets/0+1_Logo.svg" alt="Logo" class="logo">


    <div class="vertical-text">
      Festival für Diversität + Komplexität
    </div>

    <div class="text">
      <div class="title">
        05 - 29. Oktober 2021<br>
        Bildungswert <br>
        Vielfalt / VMDO im:
      </div>

      <div class="place">
        <div>Schauspiel Dortmund</div>
        <div>Dortmunder U</div>
        <div>BierCafé West</div>
        <div>Literaturhaus Dortmund</div>
        <div>Jazzclub Domicil</div>
        <div>Helmholtz Gymnasium</div>
      </div>

    </div>

    <img src="/assets/home-footer.PNG" alt="Home footer" class="footer-img">

  </div>
</div>
</div>
