@mixin text {
    display: flex;
    justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 1.5;
  padding: 0 5px;

}

.precedent{
  width: 1366px;
  display: grid;
  grid-template-columns: 578.63px 784.9px;
  border-radius: 8px;

  &-video{
    background: #ffc55c;

    video{
      height: 880px;
      width: 578.63px;
    }
  }
  &-description{
    &-slide-1{
      display: grid;
      grid-template-columns: repeat(2,391.53px);
      grid-template-rows:  repeat(7, 150px);

      &-box1{
        background: #DE1CBD;
        @include text;
      }
      &-box2{
        background:#ff738e;
        @include text;
        span{
          font-weight: bolder;
        }

      }
      &-box3{
        background: #162c13;
        @include text;

      }
      &-box4{
        background: #dd0b3b;
        @include text;

      }
      &-box5{
        background:#ffd93b;
        @include text;
        grid-column: 1/3;


      }
      &-box6{
        background:#6422b8;
        @include text;
        grid-column: 1/3;


      }
      &-box7{
        background:#ec8922;
        @include text;

      }
      &-box8{
        background: #DE1CBD;
        @include text;

      }
      &-box9{
        background:#18518D;
        grid-column: 1/3;
        @include text;

      }
    }
    &-slide-2{
      display: grid;
      grid-template-columns: repeat(2,391.53px);
      grid-template-rows:  repeat(5, 180px);

      &-box1{
        background: #DE1CBD;
        @include text;
        grid-column: 1/3;

      }
      &-box2{
        background:#ff738e;
        @include text;
        grid-column: 1/3;

        span{
          font-weight: bolder;
        }

      }
      &-box3{
        background: #162c13;
        @include text;
        grid-column: 1/3;


      }
      &-box4{
        background: #dd0b3b;
        @include text;
        & .mat-icon{
          margin-right: 7px;
        }
        grid-column: 1/3;

      }
      &-box5{
        background:#ffd93b;
        @include text;
        & .mat-icon{
          margin-right: 7px;
        }
        grid-column: 1/3;

      }



    }
      &-box6{
        background:#6422b8;
        @include text;
        grid-column: 1/3;



      }
    }

  }

