<app-layout>

  <br><br><div class="text-title"> Das erste 0 + 1 Festival für Diversität + Komplexität fand im Oktober 2021 statt.</div><br><br>
  <div class="gallery">

      <figure>
      <carousel  [autoplay]="true" [transitionDuration]="1000"  [pauseOnHover]="true" [autoplayInterval]="3000"  cellsToShow="1"
                cellsToScroll="1"  [arrows]="false" [freeScroll]="true" [dots]="true"  >
        <div class="carousel-cell">
          <div class="fig1">
            <img [src]="img11" alt="" />
            <div class="text-single">
              <strong>9</strong><br>Themen
            </div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="fig1">
            <img src="https://nullpluseinsfestival.de/assets/program/Kurt_RadikaleZ%C3%91rtlichkeit.jpg" alt="" />
            <div class="text-single">
              <strong>9</strong><br>Expert*innen
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="fig1">
            <img [src]="img12" alt="" />
            <div class="text-single">
              <strong>7</strong><br>Orte
            </div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="fig1">
            <img src="https://nullpluseinsfestival.de/assets/program/Hana.jpg" alt="" />
            <div class="text-single">
              <strong>1</strong><br>Digitalprojekt
            </div>
          </div>
        </div>
      </carousel>

      </figure>
    <figure>
      <img src="https://nullpluseinsfestival.de/assets/program/Grup_foto3.JPG" alt="" />
      <div class="text-class">
        <br><strong>70 +</strong><br>Instagram abos:<br> <a href="https://www.instagram.com/living_library_01" target="_blank"><u>Living_Library_01</u></a>
      </div>
    </figure>
    <figure>
      <img [src]="img13" alt="" />
      <div class="text-class">
        <strong>1</strong><br>Fotokunstprojekt
      </div>
    </figure>
    <figure>
      <img [src]="img9" alt="" />
      <div class="text-class">
        <br><strong>400 +</strong><br> Instagram abos:<br/><a href="https://www.instagram.com/bildungswerk_vielfalt" target="_blank"><u>bildungswerk_vielfalt</u></a>
      </div>
    </figure>
    <figure class="video-class">
        <video controls [autoplay]="true" [loop]="true" class="video" loop>
          <source [src]="video" type="video/mp4">
        </video>
    </figure>
    <figure>
      <img [src]="img10" alt="" />
      <div class="text-class">
        <strong>400 +</strong><br>Besucher*innen
      </div>
    </figure>
    <figure>
      <img [src]="img12" alt="" />
      <div class="text-class">
        <strong>400 +</strong><br>Zuschauer*innen  <br/>  auf YouTube
      </div>
    </figure>
    <figure>
      <carousel  [autoplay]="true" autoplayInterval="3000" pauseOnHover="true" cellsToShow="1"
                 cellsToScroll="1"  [arrows]="false" [freeScroll]="false" [dots]="true" >
        <div class="carousel-cell">
          <div class="fig1">
            <img [src]="img1" alt="" />
            <div class="text-single">
              Wir wollen mehr!
            </div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="fig1">
            <img [src]="img2" alt="" />
            <div class="text-single">
              <br><br>Mehr <br>Festival!
            </div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="fig1">
            <img [src]="img3" alt="" />
            <div class="text-single">
              <br><br>Mehr <br>Expert*innen!
            </div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="fig1">
            <img [src]="img4" alt="" />
            <div class="text-single">
              <br><br>Mehr <br>Sichtbarkeit!
            </div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="fig1">
            <img [src]="img5" alt="" />
            <div class="text-single">
              <br><br>Mehr <br>Austausch!
            </div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="fig1">
            <img [src]="img6" alt="" />
            <div class="text-single">
              <br><br>Mehr <br>diverse Perspektiven!
            </div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="fig1">
            <img [src]="img7" alt="" />
            <div class="text-single">
              <br><br>Mehr <br>gute Themen!
            </div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="fig1">
            <img [src]="img8" alt="" />
            <div class="text-single">
              <br><br>Mehr <br>tolle Begegnungen!
            </div>
          </div>
        </div>

      </carousel>

    </figure>
    <figure>
      <carousel  [autoplay]="true" autoplayInterval="3000" pauseOnHover="true" cellsToShow="1"
                 cellsToScroll="1"  [arrows]="true" [freeScroll]="true" [dots]="true">
        <div class="carousel-cell">
          <div class="fig1">
            <img [src]="img7" alt="" />
            <div class="text-single">
              <div class="icone"><mat-icon>local_phone</mat-icon></div>0231 28678 165<br>
              <div class="icone"><mat-icon>email</mat-icon></div><a href="mailto:mail@nullpluseinsfestival.de" class="mail-text"><u>mail@nullpluseinsfestival.de</u></a>
            </div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="fig1">
            <img src="https://nullpluseinsfestival.de/assets/program/Kurt_RadikaleZ%C3%91rtlichkeit.jpg" alt="" />
            <div class="text-single">
              Unser Ziel:<br/><strong>ein Festival in 2022!</strong>
            </div>
          </div>
        </div>

      </carousel>

    </figure>

  </div>


</app-layout>
