<app-layout>
  <h2 align="center">Das erste 0 + 1 Festival für Diversität + Komplexität fand im Oktober 2021 statt. </h2>
  <h3 align="center">In Fakten heißt das: </h3>
  <div class="precedent">
    <div class="precedent-video">

      <video controls loop   >
         <source src="/assets/videos/diashow.mp4"
                type="video/mp4">
      </video>

    </div>
    <div class="precedent-description">
      <carousel [autoplayInterval]="2000" [autoplay]="true" [pauseOnHover]="true" [loop]="true" [cellsToShow]="1" [cellsToScroll]="1" [width]="784" [height]="900">
        <div class="carousel-cell">
          <div class="precedent-description-slide-1">
            <div class="precedent-description-slide-1-box1">9 Themen</div>
            <div class="precedent-description-slide-1-box2">9 Expert*innen</div>
            <div class="precedent-description-slide-1-box3">7 Orte</div>
            <div class="precedent-description-slide-1-box4">1 Digitalprojekt</div>
            <div class="precedent-description-slide-1-box5">66 Abos für unser Digitalprojekt auf Instagram
              livging_library_01, Tendenz steigend, das läuft auch weiter, also gern ein Abo da lassen.
            </div>
            <div class="precedent-description-slide-1-box6">1 Fotokunstprojekt ist bisher unsichtbar, das wird sich in
              2022 ändern. Alle Infos dazu gibt’s auf unserem Instagram Account.
            </div>
            <div class="precedent-description-slide-1-box7">235 neue Abos unseres Instagram Accounts
              bildungswerk_vielfalt
            </div>
            <div class="precedent-description-slide-1-box8">395 Besucher*innen unserer Veranstaltungen</div>
            <div class="precedent-description-slide-1-box9">650 Zuschauer*innen auf unserem YouTube Kanal, bei dem man
              noch bis zum 14.11.2021 alle Veranstaltungen nachgucken konnte.
            </div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="precedent-description-slide-2">
            <div class="precedent-description-slide-2-box1">Wir wollen mehr! Mehr Festival! Mehr Expert*innen! Mehr
              Sichtbarkeit! Mehr Austausch! Mehr diverse Perspektiven! Mehr gute Themen! Mehr tolle Begegnungen!
            </div>
            <div class="precedent-description-slide-2-box2">… und deshalb bereiten wir das nächste Festival vor. Wenn
              Sie und Ihr uns unterstützen wollt, dann nehmt gern Kontakt zu uns auf!
            </div>
            <div class="precedent-description-slide-2-box3">Erstmal bis dahin und hoffentlich bis nächsten Herbst beim 0
              +1 Festival für Diversität + Komplexität hier in Dortmund
            </div>
            <div class="precedent-description-slide-2-box4">
              <mat-icon aria-hidden="false" aria-label="Example home icon">local_phone</mat-icon>
              0231 28678 165
            </div>
            <div class="precedent-description-slide-2-box5">
              <mat-icon aria-hidden="false" aria-label="Example home icon">mail</mat-icon>
              mail@nullpluseinsfestival.de
            </div>
          </div>
        </div>
      </carousel>


    </div>
  </div>

</app-layout>
