@import "src/styles";


.header {
  margin-left: 32px;
  margin-right: 32px;

  & .logo img {
    width: 181px;
    height: 122px;
    cursor: pointer;
    @include large-desktop() {
      width: 171px;
      height: 112px;
    }
  }

  & .header-line-2 {
    display: flex;
    justify-content: space-between;
  }

  & .header-slogan {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.35px;
    font-size: 30px;
    cursor: pointer;
    @include large-desktop()  {
      font-size: 20px;
    }

  }

  & .header-menu {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  & .header-menu-item:first-child {
    margin-left: 0;
  }

  & .header-menu-item {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.35px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 55px;

    &.active {
      border-bottom: 1px solid #ffffff;

    }

    @include large-desktop() {
      font-size: 20px;

    }

  }

  .dropdown-toggle {
    display: none;
  }


}


.app-circle {
  width: 166px !important;
  height: 166px !important;
  background: #de1cbd;
  position: absolute;
  left: 37%;
  top: 76px;
  @include desktop(){
    left: 43%;
    top: 43px;
  }

}

.app-rectangle {
  width: 154px !important;
  height: 259px !important;

  background: #de1cbd;
  position: absolute;
  left: 59%;
  top: -157px;
  @include desktop(){
    left: 69%;
  }

}
