<div class="header">
  <div class="header-logo-slogan">
    <div class="logo"></div>
    <div class="slogan">Festival für Diversität + Komplexität<br/>06 - 22. Oktober 2021</div>
  </div>
  <div class="header-menus">
    <ul class="header-menus-list">
      <li class="header-menus-list-item">Program</li>
      <li class="header-menus-list-item">Künstker*innen</li>
      <li class="header-menus-list-item">über uns</li>
      <li class="header-menus-list-item">Kontakt</li>
    </ul>
  </div>
</div>
