@import "src/styles";

.header {
  margin-left: 32px;
  margin-right: 32px;

  & .logo img {
    width: 100px;
    cursor: pointer;
  }

  & .header-line-2 {
    display: flex;
    justify-content: space-between;
  }

  & .header-slogan {
    color: #ffffff;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
  }

  & .header-menu {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  & .header-menu-item:first-child {
    margin-left: 0;
  }

  & .header-menu-item {
    @extend %typography-headline1;
    text-decoration: none;
    margin-left: 60px;

    &:hover {
      color: #ff00f5;
    }
  }
}

@media screen and (max-width: 1190px) {
  .header-line-2 {
    flex-direction: column;
  }

  .header-menu {
    margin-top: 32px;
  }
}
