@import "src/styles";

.header {
  margin-left: 32px;
  margin-right: 32px;

  & .logo img {
    width: 170px;
    cursor: pointer;
  }

  & .header-line-2 {
    display: flex;
    justify-content: space-between;
  }

  & .header-slogan {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.35px;
    font-size: 30px;
    cursor: pointer;

  }

  & .header-menu {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  & .header-menu-item:first-child {
    margin-left: 0;
  }

  & .header-menu-item {
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.35px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 55px;

    &.active {
      border-bottom: 1px solid #fff;
    }

  }

  .dropdown-toggle {
    display: none;
  }
}

.app-circle {
  width: 166px !important;
  height: 166px !important;
  background: #de1cbd;
  position: absolute;
  left: 39%;
  top: 58px;

}

.app-rectangle {
  width: 154px !important;
  height: 259px !important;

  background: #de1cbd;
  position: absolute;
  left: 54%;
  top: -157px;

}


@media screen and  (max-width: 992px) {
  .header {
    .header-menu {
      display: none;
    }

    .dropdown-toggle {
      display: inline-block;
    }
  }
}

@media screen and  (max-width: 1536px) {

  .header {
    & .header-menu-item {
      font-size: 20px;
    }

    & .header-slogan {
      color: #ffffff;
      font-weight: bold;
      letter-spacing: 0.35px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
