<app-layout>
  <div class="impressum">
    <h1>Impressum</h1>
    <p>Informationspflicht laut &sect; 5 TMG.</p>
    <p>Verbund der sozial-kulturellen Migrantenvereine in Dortmund e.V. (VMDO e.V.)<br /> &ndash; vertreten durch den Vorstand</p>
    <ul>
      <li>T&uuml;lin Dolutas</li>
    </ul>
    <p>Stellvertretende&nbsp;Vorstandsvorsitzende</p>
    <ul>
      <li>Dr. Omar Al Ghawi</li>
      <li>Mamadou Sow</li>
    </ul>
    <strong>Kontakt</strong>
    <p>Adresse:</p>
    <p>0+1</p>
    <p>Festival f&uuml;r Diversit&auml;t + Komplexit&auml;t</p>
    <p>Bildungswerk Vielfalt des &ndash; VMDO e. V.</p>
    <p>Beuthstr. 21</p>
    <p>44147 Dortmund<br /> Telefon +49 231 28678240<br /> Fax +49 231 28678166<br /> Email mail@nullpluseinsfestival.de</p>
    <strong>Registrierung</strong>
    <p>Eingetragen im Amtsgericht Dortmund VR 6233</p>
    <strong>Verantwortlich f&uuml;r den Inhalt nach &sect; 55 Abs. 2 RStV / V.i.S.d.P.: &nbsp;</strong>
    <p>Dr. &Uuml;mit Kosan<br /> Beuthstra&szlig;e 21<br /> 44147 Dortmund</p>
    <p>Leitung des Bildungswerks:</p>
    <p>Kati St&uuml;demann</p>
    <p>Beuthstr. 21</p>
    <p>44147 Dortmund</p>
    <p>Datenschutzbeauftragter:</p>
    <p>Christoph Boldt</p>
    <p>Rheinische Str. 169</p>
    <p>44147 Dortmund</p>
    <p><a href="mailto:c.boldt@vmdo.de">c.boldt@vmdo.de</a></p>
    <p><br /> </p>
    <p><strong>Tel.:</strong> +49 231 / 286-78-350<br /> <strong>Fax:</strong> +49 231 / 286-78-349<br /> <strong>E-Mail:</strong> <a href="mailto:info@gid-do.de">info@gid-do.de</a></p>
    <p><strong>Aufsichtsbeh&ouml;rde</strong><br /> Die Landesbeauftragte f&uuml;r Datenschutz und Informationsfreiheit Nordrhein-Westfalen<br /> <strong>Webseite der Aufsichtsbeh&ouml;rde</strong><br /> <a href="http://www.ldi.nrw.de">http://www.ldi.nrw.de</a><br /> <strong>Anschrift der Aufsichtsbeh&ouml;rde</strong><br /> Kavalleriestra&szlig;e 2-4, 40213 D&uuml;sseldorf</p>
    <p><strong>Berufsbezeichnung:</strong> Diplom Sozialp&auml;dagogin</p>
    <p><strong>Gesch&auml;ftsf&uuml;hrerin</strong><br /> Sofija Morina</p>
    <p>Quelle: Erstellt&nbsp;mit dem <a href="https://www.adsimple.de/impressum-generator/">Impressum Generator</a> von AdSimple&nbsp;in Kooperation mit <a href="https://www.hashtagbeauty.de">hashtagbeauty.de</a></p>
    <p><strong>EU-Streitschlichtung</strong></p>
    <p>Gem&auml;&szlig; Verordnung &uuml;ber Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) m&ouml;chten wir Sie &uuml;ber die Online-Streitbeilegungsplattform (OS-Plattform) informieren.<br /> Verbraucher haben die M&ouml;glichkeit, Beschwerden an die Online Streitbeilegungsplattform der Europ&auml;ischen Kommission unter <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE">http://ec.europa.eu/odr?tid=321118751</a> zu richten. Die daf&uuml;r notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum.</p>
    <p>Wir m&ouml;chten Sie jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet sind, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    <p><strong>Haftung f&uuml;r Inhalte dieser Website</strong></p>
    <p>Wir entwickeln die Inhalte dieser Webseite st&auml;ndig weiter und bem&uuml;hen uns korrekte und aktuelle Informationen bereitzustellen. Laut Telemediengesetz <a href="https://www.gesetze-im-internet.de/tmg/__7.html?tid=321118751">(TMG) &sect;7 (1)</a> sind wir als Diensteanbieter f&uuml;r eigene Informationen, die wir zur Nutzung bereitstellen, nach den allgemeinen Gesetzen verantwortlich. Leider k&ouml;nnen wir keine Haftung f&uuml;r die Korrektheit aller Inhalte auf dieser Webseite &uuml;bernehmen, speziell f&uuml;r jene die seitens Dritter bereitgestellt wurden. Als Diensteanbieter im Sinne der &sect;&sect; 8 bis 10 sind wir nicht verpflichtet, die von ihnen &uuml;bermittelten oder gespeicherten Informationen zu &uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit hinweisen.</p>
    <p>Unsere Verpflichtungen zur Entfernung von Informationen oder zur Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen aufgrund von gerichtlichen oder beh&ouml;rdlichen Anordnungen bleiben auch im Falle unserer Nichtverantwortlichkeit nach den &sect;&sect; 8 bis 10 unber&uuml;hrt.</p>
    <p>Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte wir Sie uns umgehend zu kontaktieren, damit wir die rechtswidrigen Inhalte entfernen k&ouml;nnen. Sie finden die Kontaktdaten im Impressum.</p>
    <p><strong>Haftung f&uuml;r Links auf dieser Website</strong></p>
    <p>Unsere Webseite enth&auml;lt Links zu anderen Webseiten f&uuml;r deren Inhalt wir nicht verantwortlich sind. Haftung f&uuml;r verlinkte Websites besteht f&uuml;r uns nicht, da wir keine Kenntnis rechtswidriger T&auml;tigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir Links sofort entfernen w&uuml;rden, wenn uns Rechtswidrigkeiten bekannt werden.</p>
    <p>Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitte wir Sie uns zu kontaktieren. Sie finden die Kontaktdaten im Impressum.</p>
    <p><strong>Urheberrechtshinweis</strong></p>
    <p>Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht der Bundesrepublik Deutschland. Bitte fragen Sie uns bevor Sie die Inhalte dieser Website verbreiten, vervielf&auml;ltigen oder verwerten wie zum Beispiel auf anderen Websites erneut ver&ouml;ffentlichen. Falls notwendig, werden wir die unerlaubte Nutzung von Teilen der Inhalte unserer Seite rechtlich verfolgen.</p>
    <p>Sollten Sie auf dieser Webseite Inhalte finden, die das Urheberrecht verletzen, bitten wir Sie uns zu kontaktieren.</p>
    <p><strong>Bildernachweis</strong></p>
    <p>Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich gesch&uuml;tzt.</p>
    <p>Die Bilderrechte liegen bei den folgenden Fotografen und Unternehmen: werden auf der jeweiligen Seite benannt.</p>
    <p>&nbsp;</p>
  </div>
</app-layout>
