<app-layout>
  <div class="impressum">
    <p style="margin-top:0pt; margin-bottom:14pt; line-height:normal; font-size:24pt;"><strong>Impressum</strong></p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal;">Informationspflicht&sect; 5 TMG.</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal;">Verbundsozial- Dortmund e.V. ( e.V.)<br>&ndash;
      vertreten durchVorstand</p>
    <ul style="margin:0pt; padding-left:0pt;" type="disc">
      <li
        style="margin-top:14pt; margin-left:27.6pt; margin-bottom:14pt; line-height:normal; padding-left:8.4pt; font-family:serif; font-size:10pt;">
        <span style="font-family:Calibri; font-size:11pt;">T&uuml;lin Dolutas</span></li>
    </ul>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal;">Stellvertretende&nbsp;Vorstandsvorsitzende</p>
    <ul style="margin:0pt; padding-left:0pt;" type="disc">
      <li
        style="margin-top:14pt; margin-left:27.6pt; line-height:normal; padding-left:8.4pt; font-family:serif; font-size:10pt;">
        <span style="font-family:Calibri; font-size:11pt;">Dr.Al Ghawi</span></li>
      <li
        style="margin-left:27.6pt; margin-bottom:14pt; line-height:normal; padding-left:8.4pt; font-family:serif; font-size:10pt;">
        <span style="font-family:Calibri; font-size:11pt;"> Sow</span></li>
    </ul>
    <h2 style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:11pt;">Kontakt</h2>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal;">Adresse:</p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal;">0+1</p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal;">Festival f&uuml;r Diversit&auml;t + Komplexit&auml;t</p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal;"> Vielfalt des &ndash; VMDO e. V.</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal;">Beuthstr. 21</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal;">44147 Dortmund<br>Telefon +49 231 28678240<br>Fax
      +49 231 28678166<br> mail@nullpluseinsfestival.de</p>
    <h2 style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:11pt;">Registrierung</h2>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal;"> im Amtsgericht Dortmund VR 6233</p>
    <h2 style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;"><span style="font-size:11pt;">Verantwortlich f&uuml;r dennach &sect; 55 Abs. 2 RStV /&nbsp;</span>V.i.S.d.P.:<span
      style="font-family:'Times New Roman';">&nbsp;</span><span
      style="font-family:'Times New Roman'; font-weight:normal;">&nbsp;</span></h2>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal;">Dr. &Uuml;mit Kosan<br>Beuthstra&szlig;e 21<br>44147
      Dortmund</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal;"> des Bildungswerks:</p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal;">Kati St&uuml;demann</p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal;">Beuthstr. 21</p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal;">44147 Dortmund</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;">Datenschutzbeauftragter:</p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal; font-size:12pt;">Christoph Boldt</p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal; font-size:12pt;">Rheinische Str. 169</p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal; font-size:12pt;">44147 Dortmund</p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal; font-size:12pt;"><a href="mailto:c.boldt@vmdo.de"
                                                                                         style="text-decoration:none;"><u><span
      style="color:#0000ff;">c.boldt@vmdo.de</span></u></a></p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal; font-size:12pt;"><br><span style="font-size:11pt;">&nbsp;</span>
    </p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;"><strong>Tel.:</strong> +49 231 /
      286-78-350<br><strong>Fax:</strong> +49 231 / 286-78-349<br><strong>E-Mail:</strong> <a
        href="mailto:info@gid-do.de" style="text-decoration:none;"><u><span style="color:#0000ff;">info@gid-do.de</span></u></a>
    </p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;">
      <strong>Aufsichtsbeh&ouml;rde</strong><br> Landesbeauftragte f&uuml;r Datenschutz
      undNordrhein-Westfalen<br><strong> der Aufsichtsbeh&ouml;rde</strong><br><a href="http://www.ldi.nrw.de"
                                                                                  style="text-decoration:none;"
                                                                                  target="_blank"><u><span
      style="color:#0000ff;">http://www.ldi.nrw.de</span></u></a><br><strong>Anschrift der
      Aufsichtsbeh&ouml;rde</strong><br>Kavalleriestra&szlig;e 2-4, 40213 D&uuml;sseldorf</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;">
      <strong>Berufsbezeichnung:</strong> Diplom Sozialp&auml;dagogin</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;"><strong>Gesch&auml;ftsf&uuml;hrerin</strong><br>Sofija
      Morina</p>
    <p style="margin-top:11.25pt; margin-bottom:14pt; line-height:normal; font-size:12pt;">Quelle: Erstellt&nbsp;mit dem
      <a href="https://www.adsimple.de/impressum-generator/" style="text-decoration:none;" target="_blank"
         title="Impressum Generator Deutschland"><u><span style="color:#0000ff;">Impressum Generator</span></u></a> von
      AdSimple&nbsp;in Kooperation mit <a href="https://www.hashtagbeauty.de" style="text-decoration:none;"
                                          target="_blank"><u><span
        style="color:#0000ff;">hashtagbeauty.de</span></u></a></p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:18pt;">
      <strong>EU-Streitschlichtung</strong></p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;">Gem&auml;&szlig; Verordnung
      &uuml;ber Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) m&ouml;chtenSie &uuml; die
      Online-Streitbeilegungsplattform (OS-Plattform) informieren.<br>Verbraucher M&ouml;glichkeit, Beschwerden
      anOnlineder Europ&auml;ischen Kommission unter <a
        href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=DE"
        style="text-decoration:none;" target="_blank"><u><span style="color:#0000ff;">http://ec.europa.eu/odr?tid=321118751</span></u></a>
      zu richten. Die daf&uuml;r notwendigen Kontaktdaten finden SieinImpressum.</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;">Wir m&ouml;chtenjedoch darauf
      hinweisen, dass wir nicht bereit odersind, an Streitbeilegungsverfahren vorVerbraucherschlichtungsstelle
      teilzunehmen.</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:18pt;"><strong>Haftung f&uuml;r Inhalte
      dieser Website</strong></p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;">Wir Inhalte dieser Webseite st&auml;
      weiter und bem&uuml; uns korrekte und aktuelle Informationen bereitzustellen. Laut Telemediengesetz <a
        href="https://www.gesetze-im-internet.de/tmg/__7.html?tid=321118751" style="text-decoration:none;"
        target="_blank"><u><span style="color:#0000ff;">(TMG) &sect;7 (1)</span></u></a> sindalsf&uuml;r eigene
      Informationen,Nutzung bereitstellen, nach den allgemeinen Gesetzen verantwortlich. Leider k&ouml;nnen wirHaftung f&uuml;r
      aller Inhalte auf dieser Webseite &uuml;bernehmen, speziell f&uuml;r jene die seitens Dritter bereitgestellt
      wurden. Als Diensteanbieter im Sinne der &sect;&sect; 8 bis 10 sind wir nicht verpflichtet,&uuml;bermittelten oder
      gespeicherten Informationen zu &uuml; oder nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit
      hinweisen.</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;"> Verpflichtungen zur Entfernung
      vonoder zur Sperrung der NutzungInformationen nach den allgemeinen Gesetzen aufgrund von gerichtlichen oder beh&ouml;rdlichen
      Anordnungenauch im Falle unserer Nichtverantwortlichkeit nach den &sect;&sect; 810 unber&uuml;hrt.</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;">Sollten Ihnen problematische
      oder rechtswidrige Inhalte auffallen, bitte wir Sie uns umgehendkontaktieren, damit wir die
      rechtswidrigenentfernen k&ouml;nnen. Sie findenKontaktdaten im Impressum.</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:18pt;"><strong>Haftung f&uuml;rauf
      dieser Website</strong></p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;">Unsereenth&auml; Links zu
      anderen Webseiten f&uuml;r deren Inhalt wir sind. Haftung f&uuml;r verlinktebesteht f&uuml;r uns nicht, dakeine
      Kenntnis rechtswidriger T&auml;tigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch bisher nichtsind und
      wir Links sofort entfernen w&uuml;rden, wenn uns werden.</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;"> Ihnen rechtswidrige unserer
      Website auffallen, bitte wir Sie uns zu kontaktieren. Sie finden die Kontaktdaten im Impressum.</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:18pt;">
      <strong>Urheberrechtshinweis</strong></p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;">Alle InhalteWebseite (Bilder,
      Fotos, Texte, Videos) unterliegen demderDeutschland. Bitte fragen bevor SieInhalte dieser Website verbreiten,
      vervielf&auml; oder verwertenzum Beispielanderen Websites erneut ver&ouml;ffentlichen. Falls notwendig, die
      unerlaubte Nutzung von Inhalte unserer Seite rechtlich verfolgen.</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;">Sollten Sie auf dieser Webseite
      Inhalte finden, die das Urheberrecht verletzen,wir Sie uns zu kontaktieren.</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:18pt;"><strong>Bildernachweis</strong>
    </p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;"> Bilder, Fotos und Grafiken auf
      dieser Webseite sindgesch&uuml;tzt.</p>
    <p style="margin-top:14pt; margin-bottom:14pt; line-height:normal; font-size:12pt;"> Bilderrechte liegen bei
      denFotografen und Unternehmen: der jeweiligen Seite benannt.</p>
    <p style="margin-top:0pt; margin-bottom:10pt;">&nbsp;</p>
  </div>
</app-layout>
