body {
  font-family: "Roboto Mono", sans-serif;
  color: $primaryColor;
}

.page-block {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

}

.page-content {
  width: 700px;
}

.paragraph {
  & .paragraph-title {
    font-weight: 700;
    font-size: 22px;
  }
}


.form-field {
  display: block;
  margin-top: 32px;

  & label {
    display: block;
  }

  & input, & textarea {
    display: block;
    width: 100%;
    margin-top: 8px;
    box-sizing: border-box;
    border: 2px solid $primaryColor;

    &:focus {
      outline: none;
    }
  }

  & input {
    height: 32px;
  }
}
.form-button {
  border: none;
  background-color: $primaryColor;
  color: #FFF;
  font-family: inherit;
  padding: 12px;
  font-size: 16px;
  border-radius: 16px;
}
