.program-item {
  display: flex;
  box-sizing: border-box;

  & .program-item-date {
    font-size: 22px;
    font-weight: 700;
  }

  & .program-item-title {
    font-size: 22px;
    font-weight: 700;
  }

  & .program-item-image {
    margin-left: 64px;
    margin-right: 64px;
  }

  & .program-item-content {
    width: 384px;
  }
}
