$xs:0px;
$sm: 425px;
$md: 768px;
$lg: 1440px;
$xl: 1920px;


@mixin phone {
  @media only screen and (max-width:$sm)  {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $sm) and (max-width:$md) {
    @content;
  }
}
@mixin  desktop {
  @media (min-width:$md) and (max-width: $lg){
    @content;
  }
}

@mixin large-desktop {
  @media (min-width:$lg) and (max-width: $xl){
    @content;
  }
}
