<app-layout>
  <div class="datenschutz">
    <h1>Datenschutzerklärung</h1>

    <div class="section">
      <h2>Datenschutz</h2>
      <p>
        Wir haben diese Datenschutzerklärung (Fassung 03.10.2019-321118751) verfasst,
        um Ihnen gemäß der Vorgaben der
        <a href="https://eur-lex.europa.eu/legal-content/DE/ALL/?tid=1234&uri=celex%3A32016R0679&tid=321118751">
          Datenschutz-Grundverordnung (EU) 2016/679
        </a>
        zu erklären, welche Informationen
        wir sammeln, wie wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite
        haben. Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen,
        wir haben uns bei der Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu
        beschreiben.
      </p>

      <p>
        Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen,
        wir haben uns bei der Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu
        beschreiben.
      </p>
    </div>

    <div class="text-item">
      <h5>Automatische Datenspeicherung</h5>
      <p>
        Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen automatisch erstellt
        und gespeichert, so auch auf dieser Webseite.
      </p>

      <p>
        Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver
        (Computer auf dem diese Webseite gespeichert ist) automatisch Daten wie
      </p>

      <ul>
        <li>die Adresse (URL) der aufgerufenen Webseite</li>
        <li>Browser und Browserversion</li>
        <li>das verwendete Betriebssystem</li>
        <li>die Adresse (URL) der zuvor besuchten Seite (Referrer URL)</li>
        <li>den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird</li>
        <li>Datum und Uhrzeit</li>
      </ul>

      <p>in Dateien (Webserver-Logfiles).</p>
      <p>
        In der Regel werden Webserver-Logfiles zwei Wochen gespeichert
        und danach automatisch gelöscht. Wir geben diese Daten nicht weiter,
        können jedoch nicht ausschließen, dass diese Daten beim Vorliegen
        von rechtswidrigem Verhalten eingesehen werden.
        Die Rechtsgrundlage besteht nach
        <a href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&from=DE&tid=321118751">
          Artikel 6 Absatz 1 f DSGVO
        </a>
        (Rechtmäßigkeit der Verarbeitung) darin, dass berechtigtes Interesse daran besteht,
        den fehlerfreien Betrieb dieser Webseite durch das Erfassen von Webserver-Logfiles zu ermöglichen.
      </p>


      <h3>Cookies</h3>
      <p>Unsere Website verwendet HTTP-Cookies um nutzerspezifische Daten zu speichern.
        Im Folgenden erklären wir, was Cookies sind und warum Sie genutzt werden, damit Sie die
        folgende Datenschutzerklärung besser verstehen.
      </p>
      <h4>Was genau sind Cookies?</h4>
      <p>
        Immer wenn Sie durch das Internet surfen, verwenden Sie einen Browser.
        Bekannte Browser sind beispielsweise Chrome, Safari, Firefox, Internet Explorer und Microsoft Edge.
        Die meisten Webseiten speichern kleine Text-Dateien in Ihrem Browser. Diese Dateien nennt man Cookies.
      </p>

      <p>
        Eines ist nicht von der Hand zu weisen: Cookies sind echt nützliche Helferlein.
        Fast alle Webseiten verwenden Cookies. Genauer gesprochen sind es HTTP-Cookies,
        da es auch noch anderer Cookies für andere Anwendungsbereiche gibt.
        HTTP-Cookies sind kleine Dateien, die von unserer Website auf Ihrem
        Computer gespeichert werden. Diese Cookie-Dateien werden automatisch im Cookie-Ordner,
        quasi dem “Hirn” Ihres Browsers, untergebracht. Ein Cookie besteht aus einem Namen und einem Wert.
        Bei der Definition eines Cookies müssen zusätzlich ein oder mehrere Attribute angegeben werden.
      </p>

      <p>
        Cookies speichern gewisse Nutzerdaten von Ihnen, wie beispielsweise Sprache oder
        persönliche Seiteneinstellungen. Wenn Sie unsere Seite wieder aufrufen,
        übermittelt Ihr Browser die „userbezogenen“ Informationen an unsere Seite zurück.
        Dank der Cookies weiß unsere Website, wer Sie sind und bietet Ihnen Ihre gewohnte Standardeinstellung.
        In einigen Browsern hat jedes Cookie eine eigene Datei,
        in anderen wie beispielsweise Firefox sind alle Cookies in einer einzigen Datei gespeichert.
      </p>

      <p>
        Es gibt sowohl Erstanbieter Cookies als auch Drittanbieter-Cookies.
        Erstanbieter-Cookies werden direkt von unserer Seite erstellt,
        Drittanbieter-Cookies werden von Partner-Webseiten (z.B. Google Analytics) erstellt.
        Jedes Cookie ist individuell zu bewerten, da jedes Cookie andere Daten speichert.
        Auch die Ablaufzeit eines Cookies variiert von ein paar Minuten bis hin zu ein paar Jahren.
        Cookies sind keine Software-Programme und enthalten keine Viren, Trojaner oder andere „Schädlinge“.
        Cookies können auch nicht auf Informationen Ihres PCs zugreifen.
      </p>

      <p>
        So können zum Beispiel Cookie-Daten aussehen:
      </p>

      <ul>
        <li> Name: _ga</li>
        <li> Ablaufzeit: 2 Jahre</li>
        <li> Verwendung: Unterscheidung der Webseitenbesucher</li>
        <li> Beispielhafter Wert: GA1.2.1326744211.152321118751</li>
      </ul>

      <p>Ein Browser sollte folgende Mindestgrößen unterstützen:</p>

      <ul>
        <li>Ein Cookie soll mindestens 4096 Bytes enthalten können</li>
        <li>Pro Domain sollen mindestens 50 Cookies gespeichert werden können</li>
        <li>Insgesamt sollen mindestens 3000 Cookies gespeichert werden können</li>
      </ul>
    </div>

    <h4>Welche Arten von Cookies gibt es?</h4>
    <p>
      Die Frage welche Cookies wir im Speziellen verwenden, hängt von den verwendeten Diensten
      ab und wird in der folgenden Abschnitten der Datenschutzerklärung geklärt.
      An dieser Stelle möchten wir kurz auf die verschiedenen Arten von HTTP-Cookies eingehen.
    </p>

    <p> Man kann 4 Arten von Cookies unterscheiden: </p>
    <div>
      <h5>Unbedingt notwendige Cookies</h5>
      <p>
        Diese Cookies sind nötig, um grundlegende Funktionen der Website sicherzustellen.
        Zum Beispiel braucht es diese Cookies, wenn ein User ein Produkt in den Warenkorb legt,
        dann auf anderen Seiten weitersurft und später erst zur Kasse geht.
        Durch diese Cookies wird der Warenkorb nicht gelöscht,
        selbst wenn der User sein Browserfenster schließt.
      </p>

      
    </div>


  </div>

</app-layout>
