<app-layout>
  <div class="datenschutz">
    <h3>Datenschutzerklärung</h3>
    <div class="text-item">

      <h5>Datenschutz</h5>

      <p>
        Wir haben diese Datenschutzerklärung (Fassung 03.10.2019-321118751) verfasst,
        um Ihnen gemäß der Vorgaben der
        <a href="https://eur-lex.europa.eu/legal-content/DE/ALL/?tid=1234&uri=celex%3A32016R0679&tid=321118751">
          Datenschutz-Grundverordnung (EU) 2016/679
        </a>
        zu erklären, welche Informationen
        wir sammeln, wie wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite
        haben.
        Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen,
        wir haben uns bei der Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu
        beschreiben.
      </p>
    </div>


    <div class="text-item">
      <h5>Automatische Datenspeicherung</h5>
      Wenn Sie heutzutage Webseiten besuchen,
      werden gewisse Informationen automatisch
      erstellt und gespeichert, so auch auf dieser Webseite. <br>

      Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver
      (Computer auf dem diese Webseite gespeichert ist) automatisch Daten wie
      die Adresse (URL) der aufgerufenen Webseite
      Browser und Browserversion
      das verwendete Betriebssystem
      die Adresse (URL) der zuvor besuchten Seite (Referrer URL)
      den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird
      Datum und Uhrzeit
      in Dateien (Webserver-Logfiles).
      In der Regel werden Webserver-Logfiles zwei
      Wochen gespeichert und danach automatisch
      gelöscht. Wir geben diese Daten nicht
      weiter, können jedoch nicht ausschließen,
      dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden. <br>
      Die Rechtsgrundlage besteht nach Artikel 6 Absatz 1 f DSGVO (Rechtmäßigkeit der Verarbeitung) darin,
      dass berechtigtes

      Interesse daran besteht, den fehlerfreien
      Betrieb dieser Webseite durch das Erfassen
      von Webserver-Logfiles zu ermöglichen.
    </div>

    <div class="text-item">
      <h5>Cookies</h5>
      Unsere Website verwendet HTTP-Cookies um
      nutzerspezifische Daten zu speichern.
      Im Folgenden erklären wir, was Cookies sind
      und warum Sie genutzt werden, damit Sie die
      folgende Datenschutzerklärung besser
      verstehen.
      Was genau sind Cookies? <br>

      Immer wenn Sie durch das Internet surfen,
      verwenden Sie einen Browser. Bekannte
      Browser sind beispielsweise Chrome, Safari,
      Firefox, Internet Explorer und Microsoft
      Edge. Die meisten Webseiten speichern
      kleine Text-Dateien in Ihrem Browser. Diese
      Dateien nennt man Cookies.<br/>

      Eines ist nicht von der Hand zu weisen: Cookies sind echt nützliche Helferlein.
      Fast alle Webseiten verwenden Cookies.
      Genauer gesprochen sind es HTTP-Cookies, da es auch noch anderer Cookies für andere
      Anwendungsbereiche gibt. HTTP-Cookies sind
      kleine Dateien, die von unserer Website auf
      Ihrem Computer gespeichert werden. Diese
      Cookie-Dateien werden automatisch im
      Cookie-Ordner, quasi dem “Hirn” Ihres
      Browsers, untergebracht. Ein Cookie besteht
      aus einem Namen und einem Wert. Bei der Definition eines Cookies müssen zusätzlich
      ein oder mehrere Attribute angegeben
      werden.<br/>

      <p>
        Cookies speichern gewisse Nutzerdaten von
        Ihnen, wie beispielsweise Sprache oder
        persönliche Seiteneinstellungen. Wenn Sie
        unsere Seite wieder aufrufen, übermittelt
        Ihr Browser die „userbezogenen“
        Informationen an unsere Seite zurück
        Dank der Cookies weiß unsere Website, wer Sie
        sind und bietet Ihnen Ihre gewohnte Standardeinstellung. In einigen Browsern hat jedes Cookie eine
        eigene Datei, in
        anderen wie beispielsweise Firefox sind alle Cookies in einer einzigen Datei gespeichert.
        Es gibt sowohl Erstanbieter Cookies als auch Drittanbieter-Cookies. Erstanbieter-Cookies werden direkt von
        unserer Seite erstellt, Drittanbieter-Cookies werden von
        Partner-Webseiten (z.B. Google Analytics) erstellt.Jedes Cookie ist individuell zu bewerten, da jedes
        Cookie andere Daten
        speichert. Auch die Ablaufzeit eines
        Cookies variiert von ein paar Minuten bis
        hin zu ein paar Jahren. Cookies sind keine
        Software-Programme und enthalten keine Viren, Trojaner oder andere „Schädlinge“.
        Cookies können auch nicht auf Informationen Ihres PCs zugreifen.</p>

      <p>
        So können zum Beispiel Cookie-Daten aussehen:<br/>
        Name: _ga<br/>
        Ablaufzeit: 2 Jahre<br/>
        Verwendung: Unterscheidung der Webseitenbesucher <br/>
        Beispielhafter Wert: GA1.2.1326744211.152321118751<br/>
        Ein Browser sollte folgende Mindestgrößen unterstützen:
        Ein Cookie soll mindestens 4096 Bytes enthalten können<br/>
        Pro Domain sollen mindestens 50 Cookies gespeichert werden können
        Insgesamt sollen mindestens 3000 Cookies gespeichert werden können
      </p>

      <p>
        Welche Arten von Cookies gibt es?
        Die Frage welche Cookies wir im Speziellen verwenden, hängt von den verwendeten
        Diensten ab und wird in der folgenden
        Abschnitten der Datenschutzerklärung geklärt. An dieser Stelle möchten wir kurz auf die verschiedenen
        Arten von HTTP-Cookies eingehen. <br> Man kann 4 Arten von Cookies unterscheiden:</p>


      <div class="paragraph">
        <h6>Unbedingt notwendige Cookies</h6>
        Diese Cookies sind nötig, um grundlegende Funktionen der Website sicherzustellen.
        Zum Beispiel braucht es diese Cookies, wenn ein User ein Produkt in den Warenkorb legt,
        dann auf anderen Seiten weitersurft und
        später erst zur Kasse geht. Durch diese
        Cookies wird der Warenkorb nicht gelöscht,
        selbst wenn der User sein Browserfenster schließt.
      </div>


      <div class="paragraph">
        <h6>Funktionelle Cookies</h6>
        Diese Cookies sammeln Infos über das Userverhalten und ob der User etwaige
        Fehlermeldungen bekommt. Zudem werden
        mithilfe dieser Cookies auch die Ladezeit
        und das Verhalten der Website bei verschiedenen Browsern gemessen.
      </div>

      <div class="paragraph">
        <h6>Zielorientierte Cookies</h6>
        Diese Cookies sorgen für eine bessere Nutzerfreundlichkeit.
        Beispielsweise werden eingegebene Standorte,
        Schriftgrößen oder Formulardaten gespeichert.
      </div>


      <div class="paragraph">
        <h6>Werbe-Cookies</h6>
        Diese Cookies werden auch Targeting-Cookies genannt. Sie dienen dazu dem User
        individuell angepasste Werbung zu liefern.
        Das kann sehr praktisch, aber auch sehr
        nervig sein. <br>
        Üblicherweise werden Sie beim erstmaligen
        Besuch einer Webseite gefragt, welche
        dieser Cookiearten Sie zulassen möchten.
        Und natürlich wird diese Entscheidung auch
        in einem Cookie gespeichert.
        Wie kann ich Cookies löschen? <br>
        Wie und ob Sie Cookies verwenden wollen,
        entscheiden Sie selbst. Unabhängig von
        welchem Service oder welcher Website die
        Cookies stammen, haben Sie immer die
        Möglichkeit Cookies zu löschen, nur
        teilweise zuzulassen oder zu deaktivieren.
        Zum Beispiel können Sie Cookies von
        Drittanbietern blockieren, aber alle anderen Cookies zulassen.<br/>

        Wenn Sie feststellen möchten, welche
        Cookies in Ihrem Browser gespeichert
        wurden, wenn Sie Cookie-Einstellungen
        ändern oder löschen wollen, können Sie dies
        in Ihren Browser-Einstellungen finden:<br/>
        Chrome: Cookies in Chrome löschen, aktivieren und verwalten <br/>
        Safari: Verwalten von Cookies und Websitedaten mit Safari <br/>
        Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer
        abgelegt haben<br/>
        Internet Explorer: Löschen und Verwalten von Cookies<br/>
        Microsoft Edge: Löschen und Verwalten von Cookies
        Falls Sie grundsätzlich keine Cookies haben wollen, können Sie Ihren Browser so
        einrichten,
        dass er Sie immer informiert,
        wenn ein Cookie gesetzt werden soll. So
        können Sie bei jedem einzelnen Cookie
        entscheiden, ob Sie das Cookie erlauben
        oder nicht. Die Vorgangsweise ist je nach
        Browser verschieden. Am besten ist es Sie suchen die Anleitung in Google mit dem
        Suchbegriff “Cookies löschen Chrome” oder “Cookies deaktivieren Chrome” im Falle eines Chrome Browsers
        oder tauschen das Wort “Chrome” gegen den Namen Ihres Browsers, z.B. Edge, Firefox, Safari aus.
        Wie sieht es mit meinem Datenschutz aus?
        Seit 2009 gibt es die sogenannten „Cookie-Richtlinien“. Darin ist festgehalten, dass
        das Speichern von Cookies eine Einwilligung des Website-Besuchers (also von Ihnen)
        erlangt. Innerhalb der EU-Länder gibt es
        allerdings noch sehr unterschiedliche
        Reaktionen auf diese Richtlinien. In
        Deutschland wurden die Cookie-Richtlinien
        nicht als nationales Recht umgesetzt. Stattdessen erfolgte die Umsetzung dieser Richtlinie weitgehend
        in
        § 15 Abs.3 des Telemediengesetzes (TMG).
        Wenn Sie mehr über Cookies wissen möchten und vor technischen Dokumentationen nicht<br/>
        zurückscheuen, empfehlen wir <a href="https://tools.ietf.org/html/rfc6265">
        https://tools.ietf.org/html/rfc6265</a>,
        dem Request for Comments der Internet Engineering Task Force (IETF) namens “HTTP State Management Mechanism”.
      </div>
      <p>
        Speicherung persönlicher Daten<br/>
        Persönliche Daten, die Sie uns auf dieser <br/> Website elektronisch übermitteln, wie zum <br/>Beispiel Name,
        E-Mail-Adresse,
        Adresse oder <br/> andere persönlichen Angaben im Rahmen der <br/> Übermittlung eines Formulars oder <br/>
        Kommentaren im Blog,
        werden von uns <br/> gemeinsam mit dem Zeitpunkt und der IP-<br/>Adresse nur zum jeweils angegebenen Zweck <br/>
        verwendet, sicher
        verwahrt und nicht an <br/> Dritte weitergegeben.<br/>
        Wir nutzen Ihre persönlichen Daten somit <br/>nur für die Kommunikation mit jenen <br/>Besuchern, die Kontakt
        ausdrücklich <br/>
        wünschen und für die Abwicklung der auf <br/> dieser Webseite angebotenen <br/> Dienstleistungen und Produkte.
        Wir
        geben <br/> Ihre
        persönlichen Daten ohne Zustimmung <br/> nicht weiter, können jedoch nicht<br/> ausschließen, dass diese Daten
        beim <br/> Vorliegen
        von rechtswidrigem Verhalten<br/> eingesehen werden.<br/>
        Wenn Sie uns persönliche Daten per E-Mail<br/> schicken – <br/>somit abseits dieser Webseite – können wir keine
        sichere
        Übertragung und <br/> den Schutz Ihrer Daten garantieren. Wir <br/> empfehlen Ihnen, vertrauliche Daten niemals
        <br/>
        unverschlüsselt per E-Mail zu übermitteln.<br/>
        Die Rechtsgrundlage besteht nach Artikel 6<br/> Absatz 1 a DSGVO (Rechtmäßigkeit der<br/> Verarbeitung) darin,
        dass Sie uns
        die<br/> Einwilligung zur Verarbeitung der von Ihnen<br/> eingegebenen Daten geben. Sie können diesen <br/>
        Einwilligung jederzeit
        widerrufen – eine <br/>formlose E-Mail reicht aus, Sie finden<br/> unsere Kontaktdaten im Impressum.
      </p>
      <p style="text-align: left">
        Rechte laut Datenschutzgrundverordnung<br/>
        Ihnen stehen laut den Bestimmungen der <br/>DSGVO grundsätzlich die folgende Rechte zu:<br/>
        Recht auf Berichtigung (Artikel 16 DSGVO)<br/>
        Recht auf Löschung („Recht auf<br/> Vergessenwerden“) (Artikel 17 DSGVO)<br/>
        Recht auf Einschränkung der Verarbeitung <br/>(Artikel 18 DSGVO)<br/>
        Recht auf Benachrichtigung –<br/> Mitteilungspflicht im Zusammenhang mit der<br/>
        Berichtigung oder Löschung personenbezogener
        Daten oder der Einschränkung der Verarbeitung (Artikel 19 <br/>DSGVO)<br/>
        Recht auf Datenübertragbarkeit (Artikel 20 <br/> DSGVO)<br/>
        Widerspruchsrecht (Artikel 21 DSGVO)<br/>
        Recht, nicht einer ausschließlich auf einer<br/> automatisierten Verarbeitung — <br/>einschließlich Profiling —
        beruhenden<br/>
        Entscheidung unterworfen zu werden (Artikel<br/> 22 DSGVO)<br/>
        Wenn Sie glauben, dass die Verarbeitung<br/> Ihrer Daten gegen das Datenschutzrecht<br/> verstößt oder Ihre
        datenschutzrechtlichen<br/> Ansprüche sonst in einer Weise verletzt <br/>worden sind, können Sie sich an
        die<br/>
        Bundesbeauftragte
        für den Datenschutz und die Informationsfreiheit (BfDI) wenden.
      </p>
      <p style="text-align: left">
        Auswertung des Besucherverhaltens<br/>
        In der folgenden Datenschutzerklärung <br/>informieren wir Sie darüber, ob und wie wir<br/> Daten Ihres Besuchs
        dieser Website<br/>
        auswerten. Die Auswertung der gesammelten <br/> Daten erfolgt in der Regel anonym und wir <br/>können von Ihrem
        Verhalten auf
        dieser <br/> Website nicht auf Ihre Person schließen.<br/>
        Mehr über Möglichkeiten dieser Auswertung <br/> der Besuchsdaten zu widersprechen erfahren<br/> Sie in der
        folgenden
        Datenschutzerklärung.
      </p>
      <p style="text-align: left">
        TLS-Verschlüsselung mit https<br/>
        Wir verwenden https um Daten abhörsicher im <br/> Internet zu übertragen (Datenschutz durch <br/>
        Technikgestaltung Artikel 25
        Absatz 1 <br/> DSGVO). Durch den Einsatz von TLS <br/> (Transport Layer Security), einem <br/>
        Verschlüsselungsprotokoll zur sicheren<br/>
        Datenübertragung im Internet können wir den <br/> Schutz vertraulicher Daten sicherstellen.<br/>Sie erkennen die
        Benutzung dieser<br/>
        Absicherung der Datenübertragung am kleinen<br/>
        Schloßsymbol links oben im Browser und der<br/> Verwendung des Schemas https (anstatt http) <br/>als Teil
        unserer
        Internetadresse.
      </p>
      <p style="text-align: left">
        Google Fonts Lokal Datenschutzerklärung<br/>
        Wir verwenden Google Fonts der Firma Google<br/> Inc. (1600 Amphitheatre Parkway Mountain<br/> View, CA 94043,
        USA) auf
        unserer Webseite.<br/> Wir haben die Google-Schriftarten lokal,<br/> d.h. auf unserem Webserver – nicht auf den
        <br/>Servern von
        Google – eingebunden. Dadurch <br/> gibt es keine Verbindung zu Server von <br/> Google und somit auch keine
        <br/>
        Datenübertragung bzw. Speicherung.<br/>
        Was sind Google Fonts?<br/>
        Google Fonts (früher Google Web Fonts) ist<br/>
        ein interaktives Verzeichnis mit mehr als<br/> 800 Schriftarten, die
        die Google LLC zur<br/> freien Verwendung bereitstellt. Mit Google <br/> Fonts könnte man die Schriften nutzen,
        ohne<br/>
        sie auf den eigenen Server hochzuladen.<br/> Doch um diesbezüglich jede <br/>
        Informationsübertragung zum Google-Server <br/>
        zu unterbinden, haben wir die Schriftarten <br/> auf unseren Server heruntergeladen. Auf <br/> diese Weise
        handeln
        wir datenschutzkonform <br/>
        und senden keine Daten an Google Fonts weiter. <br/>
        Anders als andere Web-Schriften erlaubt uns <br/> Google uneingeschränkten Zugriff auf alle <br/> Schriftarten.
        Wir können also
        unlimitiert <br/> auf ein Meer an Schriftarten zugreifen und <br/> so das Optimum für unsere Webseite <br/>rausholen.
        Mehr zu Google
        Fonts und <br/> weiteren Fragen finden Sie auf<br/> https://developers.google.com/fonts/faq?tid=321118751.
        Google Fonts Datenschutzerklärung<br/>
        Wir verwenden Google Fonts der Firma Google Inc. (1600 Amphitheatre Parkway Mountain View, CA 94043, USA) auf
        unserer Webseite.<br/>
        Für die Verwendung von Google-Schriftarten <br/> müssen Sie sich nicht anmelden bzw. ein <br/> Passwort
        hinterlegen. Weiters
        werden auch <br/> keine Cookies in Ihrem Browser gespeichert. <br/>Die Dateien (CSS, Schriftarten/Fonts)<br/>
        werden über die
        Google-Domains<br/> fonts.googleapis.com und fonts.gstatic.com<br/> angefordert. Laut Google sind die Anfragen
        <br/>nach CSS und
        Schriften vollkommen getrennt<br/> von allen anderen Google-Diensten. Wenn Sie<br/>
        ein Google-Konto haben, brauchen Sie keine<br/>
        Sorge haben, dass Ihre Google-Kontodaten, <br/>während der Verwendung von Google Fonts, an <br/>Google
        übermittelt
        werden.
        Google erfasst<br/> die Nutzung von CSS (Cascading Style<br/> Sheets) und der verwendeten Schriftarten <br/>und
        speichert diese
        Daten sicher. Wie die <br/>Datenspeicherung genau aussieht, werden wir<br/> uns noch im Detail ansehen.<br/>
        Was sind Google Fonts?<br/>
        Google Fonts (früher Google Web Fonts) ist<br/> ein interaktives Verzeichnis mit mehr als <br/>800 Schriftarten,
        die
        die Google LLC zur <br/> freien Verwendung bereitstellt.<br/>
        Viele dieser Schriftarten sind unter<br/> der SIL Open Font License veröffentlicht,<br/> während andere unter
        der Apache-Lizenz veröffentlicht wurden.<br/> Beides sind freie Software-Lizenzen. <br/> Somit können wir sie
        frei
        verwenden,
        ohne dafür Lizenzgebühren zu zahlen.
      <p style="text-align: left">
        Warum verwenden wir Google Fonts auf unserer Webseite?
        Mit Google Fonts können wir auf der eigenen Webseite Schriften nutzen, und müssen sie nicht auf unserem eigenen
        Server hochladen. Google Fonts ist ein wichtiger Baustein, um die Qualität unserer Webseite hoch zu halten. Alle
        Google-Schriften sind automatisch für das Web optimiert und dies spart Datenvolumen und ist speziell für die
        Verwendung bei mobilen Endgeräten ein großer Vorteil. Wenn Sie unsere Seite besuchen, sorgt die niedrige
        Dateigröße
        für eine schnelle Ladezeit. Des Weiteren sind Google Fonts sogenannte sichere Web Fonts. Unterschiedliche
        Bildsynthese-Systeme (Rendering) in verschiedenen Browsern, Betriebssystemen und mobilen Endgeräten können zu
        Fehlern führen. Solche Fehler können teilweise Texte bzw. ganze Webseiten optisch verzerren. Dank des schnellen
        Content Delivery Network (CDN) gibt es mit Google Fonts keine plattformübergreifenden Probleme. Google Fonts
        unterstützt alle gängigen Browser ( Google Chrome, Mozilla Firefox, Apple Safari, Opera)  und funktioniert
        zuverlässig auf den meisten modernen mobilen Betriebssystemen, einschließlich Android 2.2+ und iOS 4.2+ (iPhone,
        iPad, iPod).
      </p>
      <p style="text-align: left">
        Wir verwenden die Google Fonts also, damit wir unser gesamtes Online-Service so schön und einheitlich wie
        möglich
        darstellen können. Nach dem Art. 6 Abs. 1 f lit. F DSGVO stellt das bereits ein „berechtigtes Interesse“ an der
        Verarbeitung von personenbezogenen Daten dar. Unter „berechtigtem Interesse“ versteht man in diesem Fall sowohl
        rechtliche als auch wirtschaftliche oder ideelle Interessen, die vom Rechtssystem anerkannt werden.
        Welche Daten werden von Google gespeichert?
        Wenn Sie unsere Webseite besuchen, werden die Schriften über einen Google-Server nachgeladen. Durch diesen
        externen
        Aufruf werden Daten an die Google-Server übermittelt. So erkennt Google auch, dass Sie bzw. Ihre IP-Adresse
        unsere
        Webseite besucht. Die Google Fonts API wurde entwickelt, um die Erfassung, Speicherung und Verwendung von
        Endnutzerdaten auf das zu reduzieren, was für eine effiziente Bereitstellung von Schriften nötig ist. API steht
        übrigens für „Application Programming Interface“ und dient unter anderem als Datenübermittler im
        Softwarebereich.
        Google Fonts speichert CSS- und Font-Anfragen sicher bei Google und ist somit geschützt. Durch die gesammelten
        Nutzungszahlen kann Google die Beliebtheit der Schriften feststellen. Die Ergebnisse veröffentlicht Google auf
        internen Analyseseiten, wie beispielsweise Google Analytics. Zudem verwendet Google auch Daten des eigenen
        Web-Crawlers, um festzustellen, welche Webseiten Google-Schriften verwenden. Diese Daten werden in der
        BigQuery-Datenbank von Google Fonts veröffentlicht. BigQuery ist ein Webservice von Google für Unternehmen, die
        große Datenmengen bewegen und analysieren wollen.
      </p>
      <p style="text-align: left">
        Zu bedenken gilt allerdings noch, dass durch jede Google Font Anfrage auch Informationen wie IP-Adresse,
        Spracheinstellungen, Bildschirmauflösung des Browsers, Version des Browsers und Name des Browsers automatisch an
        die
        Google-Server übertragen werden. Ob diese Daten auch gespeichert werden, ist nicht klar feststellbar bzw. wird
        von
        Google nicht eindeutig kommuniziert.<br/>
        Wie lange und wo werden die Daten gespeichert?<br/>
        Anfragen für CSS-Assets speichert Google einen Tag lang auf Ihren Servern, die hauptsächlich außerhalb der EU
        angesiedelt sind. Das ermöglicht uns, mithilfe eines Google-Stylesheets die Schriftarten zu nutzen. Ein
        Stylesheet
        ist eine Formatvorlage, über die man einfach und schnell z.B. das Design bzw. die Schriftart einer Webseite
        ändern
        kann.
      </p>
      <p style="text-align: left">
        Die Font-Dateien werden bei Google ein Jahr gespeichert. Google verfolgt damit das Ziel, die Ladezeit von
        Webseiten<br/>
        grundsätzlich zu verbessern. Wenn Millionen von Webseiten auf die gleichen Schriften verweisen, werden sie nach
        dem<br/>
        ersten Besuch zwischengespeichert und erscheinen sofort auf allen anderen später besuchten Webseiten wieder.
        Manchmal aktualisiert Google Schriftdateien, um die Dateigröße zu reduzieren, die Abdeckung von Sprache zu
        erhöhen
        und das Design zu verbessern.
      </p>
      <p style="text-align: left">
        Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?
        Jene Daten, die Google für einen Tag bzw. ein Jahr speichert können nicht einfach gelöscht werden. Die Daten
        werden
        beim Seitenaufruf automatisch an Google übermittelt. Um diese Daten vorzeitig löschen zu können, müssen Sie den
        Google-Support auf https://support.google.com/?hl=de&tid=321118751 kontaktieren. Datenspeicherung verhindern Sie
        in
        diesem Fall nur, wenn Sie unsere Seite nicht besuchen.<br/>
        Anders als andere Web-Schriften erlaubt uns Google uneingeschränkten Zugriff auf alle Schriftarten. Wir können
        also
        unlimitiert auf ein Meer an Schriftarten zugreifen und so das Optimum für unsere Webseite rausholen. Mehr zu
        Google
        Fonts und weiteren Fragen finden Sie auf https://developers.google.com/fonts/faq?tid=321118751. Dort geht zwar
        Google auf datenschutzrelevante Angelegenheiten ein, doch wirklich detaillierte Informationen über
        Datenspeicherung
        sind nicht enthalten. Es ist relativ schwierig (beinahe unmöglich), von Google wirklich präzise Informationen
        über
        gespeicherten Daten zu bekommen.<br/>
        Welche Daten grundsätzlich von Google erfasst werden und wofür diese Daten verwendet werden, können Sie auch auf
        https://www.google.com/intl/de/policies/privacy/ nachlesen.<br/>
        Google Analytics Datenschutzerklärung
        Wir verwenden auf dieser Website Google Analytics der Firma Google LLC (1600 Amphitheatre Parkway Mountain View,
        CA
        94043, USA) um Besucherdaten statistisch auszuwerten. Dabei verwendet Google Analytics zielorientierte Cookies.
        Cookies von Google Analytics
      </p>
      <p style="text-align: left">
        _ga<br/>
        Ablaufzeit: 2 Jahre<br/>
        Verwendung: Unterscheidung der Webseitenbesucher<br/>
        Beispielhafter Wert: GA1.2.1326744211.152321118751<br/>
        _gid<br/>
        Ablaufzeit: 24 Stunden<br/>
        Verwendung: Unterscheidung der Webseitenbesucher<br/>
        Beispielhafter Wert: GA1.2.1687193234.152321118751<br/>
        _gat_gtag_UA_<br/>
        Ablaufzeit: 1 Minute<br/>
        Verwendung: Wird zum Drosseln der Anforderungsrate verwendet. Wenn Google Analytics über den Google Tag Manager
        bereitgestellt wird, erhält dieser Cookie den Namen _dc_gtm_ .
        Verwendung: Wird zum Drosseln der Anforderungsrate verwendet. Wenn Google Analytics über den Google Tag Manager
        bereitgestellt wird, erhält dieser Cookie den Namen _dc_gtm_ .
        Beispielhafter Wert: 1
        Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter
        http://www.google.com/analytics/terms/de.html bzw. unter
        https://support.google.com/analytics/answer/6004245?hl=de.
        Pseudonymisierung
        Unser Anliegen im Sinne der DSGVO ist die Verbesserung unseres Angebotes und unseres Webauftritts. Da uns die
        Privatsphäre unserer Nutzer wichtig ist, werden die Nutzerdaten pseudonymisiert. Die Datenverarbeitung erfolgt
        auf
        Basis der gesetzlichen Bestimmungen des Art 6 EU-DSGVO Abs 1 lit a (Einwilligung) und/oder f (berechtigtes
        Interesse) der DSGVO.
        Deaktivierung der Datenerfassung durch Google Analytics
        Mithilfe des Browser-Add-ons zur Deaktivierung von Google Analytics-JavaScript (ga.js, analytics.js, dc.js)
        können
        Website-Besucher verhindern, dass Google Analytics ihre Daten verwendet.
        Sie können die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten an
        Google
        sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link verfügbare
        Browser-Plugin herunterladen und installieren: https://tools.google.com/dlpage/gaoptout?hl=de
      </p>
      <p style="text-align: left">
        Google Analytics Deaktivierungslink<br/>
        Wenn Sie auf folgenden Deaktivierungslink klicken, können Sie verhindern, dass Google weitere Besuche auf
        dieser<br/>
        Webseite erfasst. Achtung: Das Löschen von Cookies, die Nutzung des Inkognito/Privatmodus ihres Browsers, oder
        die<br/>
        Nutzung eines anderen Browsers führt dazu, dass wieder Daten erhoben werden.<br/>
        Google Analytics deaktivieren
      <p>
      <p>
        Google Analytics IP-Anonymisierung<br/>
      <p style="text-align: left">
        Wir haben auf dieser Webseite die IP-Adressen-Anonymisierung von Google Analytics implementiert. Diese
        Funktion<br/>
        wurde von Google entwickelt, damit diese Webseite die geltenden Datenschutzbestimmungen und Empfehlungen
        der<br/>
        lokalen<br/>
        Datenschutzbehörden einhalten kann, wenn diese eine Speicherung der vollständigen IP-Adresse untersagen.
        Die<br/>
        Anonymisierung bzw. Maskierung der IP findet statt, sobald die IP-Adressen im Google<br/>
        Analytics-Datenerfassungsnetzwerk eintreffen und bevor eine Speicherung oder Verarbeitung der Daten
        stattfindet.<br/>
        Mehr Informationen zur IP-Anonymisierung finden Sie
        auf https://support.google.com/analytics/answer/2763052?hl=de.<br/>
        Google Analytics Berichte zu demografischen Merkmalen und Interessen<br/>
        Wir haben in Google Analytics die Funktionen für Werbeberichte eingeschaltet. Die Berichte zu
        demografischen<br/><br/>
        Merkmalen und Interessen enthalten Angaben zu Alter, Geschlecht und Interessen. Damit können wir uns – ohne
        diese
        Daten einzelnen Personen zuordnen zu können – ein besseres Bild von unseren Nutzern machen. Mehr über die
        Werbefunktionen erfahren Sie auf https://support.google.com/analytics/answer/3450482?hl=de_AT&utm_id=ad.
        Sie können die Nutzung der Aktivitäten und Informationen Ihres Google Kontos unter “Einstellungen für Werbung”
        auf
        https://adssettings.google.com/authenticated per Checkbox beenden.
      </p>
      Google Analytics Zusatz zur Datenverarbeitung<br/>
      <p style="text-align: left">
        Wir haben mit Google einen Direktkundenvertrag zur Verwendung von Google Analytics abgeschlossen, indem wir den
        “Zusatz zur Datenverarbeitung” in Google Analytics akzeptiert haben.
        Mehr über den Zusatz zur Datenverarbeitung für Google Analytics finden Sie hier:
        https://support.google.com/analytics/answer/3379636?hl=de&utm_id=ad
        Google Maps Datenschutzerklärung
        Wir benützen auf unserer Website Google Maps der Firma Google Inc. (1600 Amphitheatre Parkway Mountain View, CA
        94043, USA). Mit Google Maps können wir Standorte visuell besser darstellen und damit unser Service verbessern.
        Durch die Verwendung von Google Maps werden Daten an Google übertragen und auf den Google-Servern gespeichert.
        Hier
        wollen wir nun genauer darauf eingehen, was Google Maps ist, warum wir diesen Google-Dienst in Anspruch nehmen,
        welche Daten gespeichert werden und wie Sie dies unterbinden können.
        Was ist Google Maps?
        Google Maps ist ein Online-Kartendienst der Firma Google Inc. Mit Google Maps können Sie im Internet über einen
        PC
        oder über eine App genaue Standorte von Städten, Sehenswürdigkeiten, Unterkünften oder Unternehmen suchen. Wenn
        Unternehmen auf Google My Business vertreten sind, werden neben dem Standort noch weitere Informationen über die
        Firma angezeigt. Um  die Anfahrtsmöglichkeit anzuzeigen, können Kartenausschnitte eines Standorts per HTML-Code
        in
        eine Website eingebunden werden. Google Maps zeigt die Erdoberfläche als Straßenkarte oder als Luft- bzw.
        Satellitenbild an. Dank der Street View Bilder und den qualitativ hochwertigen Satellitenbildern sind sehr
        genaue
        Darstellungen möglich.
        Warum verwenden wir Google Maps auf unserer Website?
        All unsere Bemühungen auf dieser Seite verfolgen das Ziel, Ihnen eine nützliche und sinnvolle Zeit auf unserer
        Website zu bieten. Durch die Einbindung von Google Maps können wir Ihnen die wichtigsten Informationen zu
        diversen
        Standorten liefern. Dank Google Maps sehen Sie auf einen Blick wo wir unseren Firmensitz haben. Die
        Wegbeschreibung
        zeigt Ihnen immer den besten bzw. schnellsten Weg zu uns. Sie können den Anfahrtsweg für Routen mit dem Auto,
        mit
        öffentlichen Verkehrsmitteln, zu Fuß oder mit dem Fahrrad abrufen. Für uns ist die Bereitstellung von Google
        Maps
        Teil unseres Kundenservice.
        Welche Daten werden von Google Maps gespeichert?
        Damit Google Maps ihren Dienst vollständig anbieten kann, muss das Unternehmen Daten von Ihnen aufnehmen und
        speichern. Dazu zählen unter anderem die eingegebenen Suchbegriffe, Ihre IP-Adresse und die Breiten- bzw.
        Längenkoordinaten. Benutzen Sie die Routenplaner-Funktion wird auch die eingegebene Startadresse gespeichert.
        Diese
        Datenspeicherung passiert allerdings auf den Webseiten von Google Maps. Wir können Sie darüber nur informieren,
        aber
        keinen Einfluss nehmen. Da wir Google Maps in unsere Website eingebunden haben, setzt Google mindestens ein
        Cookie
        (Name: NID) in Ihrem Browser. Dieses Cookie speichert Daten über Ihr Userverhalten. Google nutzt diese Daten in
        erster Linie, um eigene Dienste zu optimieren und individuelle, personalisierte Werbung für Sie bereitzustellen.
        Folgendes Cookie wird aufgrund der Einbindung von Google Maps in Ihrem Browser gesetzt:
        Name: NID
        Ablaufzeit: nach 6 Monaten
        Verwendung: NID wird von Google verwendet, um Werbeanzeigen an Ihre Google-Suche anzupassen. Mit Hilfe des
        Cookies
        „erinnert“ sich Google an Ihre am häufigsten eingegebenen Suchanfragen oder Ihre frühere Interaktion mit
        Anzeigen.
        So bekommen Sie immer maßgeschneiderte Werbeanzeigen. Das Cookie enthält eine einzigartige ID, die Google
        benutzt,
        persönliche Einstellungen des Users für Werbezwecke zu sammeln.
        Beispielwert: 188=h26c1Ktha7fCQTx8rXgLyATyITJ321118751
        Anmerkung: Wir können bei den Angaben der gespeicherten Daten keine Vollständigkeit gewährleisten. Speziell bei
        der
        Verwendung von Cookies sind Veränderungen bei Google nie auszuschließen. Um das Cookie NID zu identifizieren,
        wurde
        eine eigene Testseite angelegt, wo ausschließlich Google Maps eingebunden war.
        Wie lange und wo werden die Daten gespeichert?
        Die Google-Server stehen in Rechenzentren auf der ganzen Welt. Die meisten Server befinden sich allerdings in
        Amerika. Aus diesem Grund werden Ihre Daten auch vermehrt in den USA gespeichert. Hier können Sie genau
        nachlesen
        wo
        sich die Google-Rechenzentren befinden: https://www.google.com/about/datacenters/inside/locations/?hl=de
        Die Daten verteilt Google auf verschiedenen Datenträgern. Dadurch sind die Daten schneller abrufbar und werden
        vor
        etwaigen Manipulationsversuchen besser geschützt. Jedes Rechenzentrum hat auch spezielle Notfallprogramme. Wenn
        es
        zum Beispiel Probleme bei der Google-Hardware gibt oder eine Naturkatastrophe die Server beeinträchtigt, bleiben
        die
        Daten mit hoher Wahrscheinlich dennoch geschützt.
        Manche Daten speichert Google für einen festgelegten Zeitraum. Bei anderen Daten bietet Google lediglich die
        Möglichkeit, diese manuell zu löschen. Weiters anonymisiert das Unternehmen auch Informationen (wie zum Beispiel
        Werbedaten) in Serverprotokollen, indem sie einen Teil der IP-Adresse und Cookie-Informationen nach 9 bzw.18
        Monaten
        löschen.
        Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?
        Mit der 2019 eingeführten automatischen Löschfunktion von Standort- und Aktivitätsdaten werden Informationen zur
        Standortbestimmung und Web-/App-Aktivität – abhängig von Ihrer Entscheidung – entweder 3 oder 18 Monate
        gespeichert
        und dann gelöscht. Zudem kann man diese Daten über das Google-Konto auch jederzeit manuell aus dem Verlauf
        löschen.
        Wenn Sie Ihre Standorterfassung vollständig verhindern wollen, müssen Sie im Google-Konto die Rubrik „Web- und
        App-Aktivität“ pausieren. Klicken Sie „Daten und Personalisierung“ und dann auf die Option
        „Aktivitätseinstellung“.
        Hier können Sie die Aktivitäten ein- bzw. ausschalten.
        In Ihrem Browser können Sie weiters auch einzelne Cookies deaktivieren, löschen oder verwalten. Je nach dem
        welchen
        Browser Sie verwenden, funktioniert dies auf unterschiedliche Art und Weise. Die folgenden Anleitungen zeigen,
        wie
        Sie Cookies in Ihrem Browser verwalten:
        Chrome: Cookies in Chrome löschen, aktivieren und verwalten
        Safari: Verwalten von Cookies und Websitedaten mit Safari
        Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben
        Internet Explorer: Löschen und Verwalten von Cookies
        Microsoft Edge: Löschen und Verwalten von Cookies
        Falls Sie grundsätzlich keine Cookies haben wollen, können Sie Ihren Browser so einrichten, dass er Sie immer
        informiert, wenn ein Cookie gesetzt werden soll. So können Sie bei jedem einzelnen Cookie entscheiden, ob Sie es
        erlauben oder nicht.
        Google ist aktiver Teilnehmer beim EU-U.S. Privacy Shield Framework, wodurch der korrekte und sichere
        Datentransfer
        persönlicher Daten geregelt wird. Mehr Informationen dazu finden Sie auf
        https://www.privacyshield.gov/participant?id=a2zt0000000TO6hAAG. Wenn Sie mehr über die Datenverarbeitung von
        Google
        erfahren wollen, empfehlen wir Ihnen die hauseigene Datenschutzerklärung des Unternehmens unter
        https://policies.google.com/privacy?hl=de.
        Quelle: Erstellt mit dem Datenschutz Generator von AdSimple in Kooperation mit slashtechnik.de

      </p>
    </div>

</app-layout>
