<app-layout>

  <div>
    <app-program-item *ngFor="let item of items" [date]="item.date" [imgSrc]="item.imgSrc" [link]="item.link"
                      [place]="item.place" style="margin-top: 128px">
      <div class="program-banner">
        <span class="program-item-title">{{item.title}}</span>
        <span class="program-item-category">{{item.category.title}}</span>
      </div>
      {{item.content}}
      <div class="program-item-description">
        Die Anmeldung erfolgt über die Ticket-Hotline der Theaterkasse:
        <div class="program-item-description-tel">Tel.: {{item.details.tel}}</div>
        <div class="program-item-description-email">{{item.details.email}}</div>
        <div class="program-item-description-dienstag">Dienstag bis Samstag: {{item.details.dienstag}}</div>

      </div>
    </app-program-item>
  </div>
</app-layout>
