.program-item {
  display: flex;
  box-sizing: border-box;
  & .program-banner{
    margin-bottom: 20px;
  }
  & .program-item-date {
    font-size: 22px;
    font-weight: 700;
  }

  & .program-item-date-hour {
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;

  }

  & .program-item-place {
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
  }

  & .program-item-image {
    width: 256px;
    height: 174px;
    margin-left: 48px;
    margin-right: 48px;
    box-sizing: border-box;
  }

  & .program-item-left {
    display: flex;
  }

  & .program-item-content {
    width: 384px;
    font-weight: normal;
  }
  & .program-item-description{
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .program-item {
    display: block;

    & .program-item-left {
      margin-top: 48px;
    }

    & .program-item-image {
      margin-left: 0;
    }


    & .program-item-date {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px){
  .program-circle {
    height: 100px !important;
    width: 100px !important;
  }
  .program-yellow-rectangle {
    height: 120px !important;
  }
}


@media screen and (max-width: 576px) {

  .program-item {
    flex-direction: column;

    & .program-item-left {
      flex-direction: column;
      margin-top: 0;
    }

    & .program-item-date {
      font-size: 18px;
    }

    & .program-item-title {
      font-size: 18px;
    }

    & .program-item-image {
      width: 100%;
      margin: 24px 0 0;
    }

    .program-item-content {
      margin-top: 24px;
    }
  }

  .program-item1-circle {
    width: 140px !important;
    height: 140px !important;
  }
  .program-item2-circle {
    width: 140px !important;
    height: 140px !important;
  }


}

.program-item-title, .program-item-description {
  font-size: 22px;
  font-weight: 700;
}

.program-item-link {
  font-size: 22px;
}


.program-item-category {
  font-size: 20px;
  font-weight: lighter;
  margin-left: 12px;
}

.program-circle {
  width: 176px;
  height: 176px;
  position: absolute;
  top: 316px;
  left: -49px;
}

.program-item1-circle {
  background-color: #FCF250;
  width: 176px !important;
  height: 176px !important;
  position: absolute;
  top: 88%;
  left: 74%;
}

.program-item3-circle {
  width: 166px !important;
  height: 166px !important;
  position: absolute;
  top: 67%;
  left: 85.5%;
}

.program-item2-circle {
  background-color: #FCF250;
  width: 176px !important;
  height: 176px !important;
  position: absolute;
  top: 88%;
  left: 85.5%;
}

.program-rectangle {
  position: absolute;
  background-color: #DD0B3B;
  height: 240px;
  width: 277px;
  left: 62%;
  top: 8%;
}

.program-blue-rectangle {
  background-color: #18518D;
  position: absolute;
  height: 259px !important;
  width: 62px !important;
  left: 77%;
  top: 18%;
}

.program-yellow-rectangle {
  background-color: #FCF250;
  position: absolute;
  height: 174.6px !important;
  width: 438px !important;
  left: -224px;
  top: 48%;
}
