@import "src/styles";
.program-item {
  display: flex;
  box-sizing: border-box;

  @include phone() {
    & .program-item-title, .program-item-link, .program-item-description {
      font-size: 12px !important;
    }

    & .program-item-title {
      font-weight: normal !important;
    }

    & .program-banner {
      margin-bottom: 0px !important;
    }
  }

  & .program-banner{
    margin-bottom: 0px;
  }
  & .program-item-date {
    font-size: 22px;
    font-weight: 700;
  }

  & .program-item-date-hour {
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;

  }

  & .program-item-place {
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
  }

  & .program-item-image {
    width: 256px;
    height: 174px;
    margin-left: 48px;
    margin-right: 48px;
    box-sizing: border-box;
  }

  & .program-item-left {
    display: flex;
  }

  & .program-item-content {
    width: 450px;
    font-weight: normal;
  }
  & .program-item-description{
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .program-item {
    display: block;

    & .program-item-left {
      margin-top: 48px;
    }

    & .program-item-image {
      margin-left: 0;
    }


    & .program-item-date {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px){
  .program-circle {
    height: 100px !important;
    width: 100px !important;
  }
  .program-yellow-rectangle {
    height: 120px !important;
  }
}


@media screen and (max-width: 576px) {

  .program-item {
    flex-direction: column;

    & .program-item-left {
      flex-direction: column;
      margin-top: 0;
    }

    & .program-item-date {
      font-size: 18px;
    }

    & .program-item-title {
      font-size: 18px;
    }

    & .program-item-image {
      width: 100%;
      margin: 24px 0 0;
    }

    .program-item-content {
      margin-top: 24px;
    }
  }

  .program-item1-circle {
    width: 140px !important;
    height: 140px !important;
  }
  .program-item2-circle {
    width: 140px !important;
    height: 140px !important;
  }


}

.program-item-title, .program-item-description {
  font-size: 22px;
}

.program-item-link {
  font-size: 22px;
}


.program-item-category {
  font-size: 20px;
  font-weight: lighter;
  margin-left: 12px;
}

.program-circle {
  width: 176px;
  height: 176px;
  position: absolute;
  top: 359px;
  left: -49px;
}
.circle-tween {
  position: absolute;
  top: 93%;
  left: 74%;
  display: flex;
}
.program-item1-circle, .program-item2-circle {
  background-color: #FCF250 !important;
  width: 166px !important;
  height: 166px !important;
}

.program-item3-circle {
  width: 166px !important;
  height: 166px !important;
  position: absolute;
  top: 72%;
  left: 85.5%;
}

.program-rectangle {
  position: absolute;
  background-color: #DD0B3B !important;
  height: 240px !important;
  width: 277px !important;
  left: 75%;
  top: 7.5%;
}

.program-blue-rectangle {
  background-color: #18518D !important;
  position: absolute;
  height: 259px !important;
  width: 62px !important;
  left: 93%;
  top: 15%;
}

.program-pink-rectangle {
  position: absolute;
  height: 259px !important;
  width: 62px !important;
  left: 88%;
  top: 18%;
}

.program-yellow-rectangle {
  background-color: #FCF250 !important;
  position: absolute;
  height: 174.6px !important;
  width: 438px !important;
  left: -224px;
  top: 52%;
}

.program-item-style {
  margin-top: 100px;

  @include tablet() {
    margin-top: 0px;
    margin-bottom: 100px;
  }

  @include phone() {
    margin-top: 0px;
    margin-bottom: 50px;
  }
}
