<app-layout>

  <div class="program-figure">
    <div class="program-lg-figure">
      <app-circle style="width: 176px; height: 176px; top: 316px; left: -49px;"></app-circle>
      <app-circle radius="166px" style="top: 67%; left: 85.5%; position: absolute"></app-circle>

      <app-rectangle height="240px" width="277px" style="background-color: #DD0B3B; left: 73%; top: 9.5%"></app-rectangle>
      <app-rectangle style="background-color: #18518D; height: 259px; width: 62px; left: 88%; top: 18%;"></app-rectangle>
      <app-rectangle style="background-color: #FCF250; height: 174px; width: 438px; left: -224px;top: 48%;"></app-rectangle>
      <app-rectangle style="background-color: #18518D;height: 259px; width: 62px; left: 88%; top: 18%;"></app-rectangle>
    </div>

    <div class="program-md-figure">

    </div>

    <div class="program-sm-figure">

    </div>
  </div>


  <div style="width: 1200px; max-width: 100%">

    <div>
      <app-program-item *ngFor="let item of items" [stringTime]="item.stringTime" [stringDate]="item.stringDate"
                        [date]="item.date" [imgSrc]="item.imgSrc" [link]="item.routinkLing"
                        [place]="item.place" class="program-item-style">
        <div class="program-item-title">
          <div>{{item.category.title}}</div>
          <div>{{item.category.link}}</div>
        </div>

        <div class="program-item-description">
          <b>{{item.title}}</b>
        </div>
      </app-program-item>
    </div>
  </div>



  <div style="position: absolute; top: 94%; left: 75%; display: flex;">
    <app-circle style="background-color: #FCF250" radius="166px"></app-circle>
    <app-circle style="background-color: #FCF250" radius="166px"></app-circle>
  </div>
</app-layout>
