@import "src/styles";

.body {
  background-image: url('/assets/static-home-web-image.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  display: flex;
  padding: 16px;

  & .logo img{
    height: 55px
  }

  & .middle {
    flex: 1;
  }

  & .test {
    display: flex;
    justify-content: flex-end;
    font-size: smaller;
    //align-items: flex-end;
    //height: 100vh;
  }

  @include phone() {
    background-image: url('/assets/1_bg_phone.jpg');

  }

}

.footer {
  width: 100%;
  @include phone() {
    display: none;
  }
}

.footer1 {
  width: 100%;
  margin-bottom: -5px;
  @include tablet() {
    display: none;
  }
  @include desktop(){
    display: none;
  }
  @include large-desktop(){
    display: none;
  }
}

.footer2 {
  width: 100%;
  @include tablet() {
    display: none;
  }
  @include desktop(){
    display: none;
  }
  @include large-desktop(){
    display: none;
  }
}

