<div class="header">
  <div class="logo" routerLink="/">
    <img src="./assets/0+1_Logo.svg" alt="logo of festival" class="pictures"/>
  </div>

  <div class="header-line-2">
  <div class="header-slogan-title">Festival für Diversität + Komplexität</div>

  </div>
  <app-circle ></app-circle>
  <app-rectangle></app-rectangle>
</div>



<div class="home">
  <div class="home-first">
    <div class="simple-div"></div>
    <app-circle class="second-pink-circle"></app-circle>
    <app-rectangle class="second-blue-rectangle"></app-rectangle>
    <app-rectangle class="second-red-rectangle"></app-rectangle>
    <app-rectangle class="second-pink-rectangle"></app-rectangle>
    <app-rectangle class="first-yellow-rectangle"></app-rectangle>
    <app-rectangle class="first-green-rectangle"></app-rectangle>

  </div>
  <div class="home-second">
    <div class="simple-div">
      <h1>05 - 29. Oktober 2021<br/>
      Bildungswert<br/>
        Vielfalt / VMDO im:</h1>
      <h4>Schauspiel Dortmund</h4>
      <h4> Dortmunder U</h4>
      <h4>BierCafé West</h4>
      <h4>Literaturhaus Dortmund</h4>
      <h4>Jazzclub Domicil</h4>
      Helmholtz Gymnasium
    </div>
    <app-rectangle class="first-green-rectangle"></app-rectangle>
    <app-rectangle class="second-yellow-rectangle"></app-rectangle>
    <app-rectangle class="third-red-rectangle"></app-rectangle>
    <div class="second-third-circle">
      <app-circle></app-circle>
      <app-circle></app-circle>
      <app-circle></app-circle>
    </div>
    <app-circle class="first-blue-circle"></app-circle>

  </div>
</div>
<div class="layout-footer">
 <img src="/assets/footer.png" alt="" class="footer-img">
</div>
