<div class="body">
  <div class="logo">
    <img src="./assets/0+1_Logo.svg" alt="logo of festival" class="pictures"/>
  </div>
  <div class="slogan">Festival für Diversität + Komplexität</div>
  <div class="middle"></div>
  <div class="test">
    <div>
      <h5>05 - 29. Oktober 2021<br/>
        Bildungswert<br/>
        Vielfalt / VMDO im:</h5>
      Schauspiel Dortmund<br/>
      Dortmunder U<br/>
      BierCafé West<br/>
      Literaturhaus Dortmund<br/>
      Jazzclub Domicil<br/>
      Helmholtz Gymnasium
    </div>

  </div>
</div>
<div>
  <img class="footer" src="/assets/footer.png" alt="img">
  <img class="footer1" src="/assets/footer1.jpg" alt="img">
  <img class="footer2" src="/assets/footer2.png" alt="img">
</div>


