<app-layout>

  <div class="lg-figure">
    <app-circle radius="176px"
                style="position: absolute; left: 100px; top: 2980px;background-color: #18518d"></app-circle>
    <app-circle radius="176px" style="position: absolute; left: -49px; top: 316px;"></app-circle>
    <app-circle radius="176px" style="position: absolute; left: 600px; bottom: 20px;"></app-circle>

    <app-rectangle width="50px" height="210px"
                   style="position: absolute; top: 430px; left: 700px; background-color: #18518d"></app-rectangle>

    <app-rectangle width="277px" height="300px"
                   style="position: absolute; bottom: -100px; left: 955px; background-color: #DD0B3B"></app-rectangle>

    <app-rectangle width="230px" height="278px"
                   style="position: absolute; right: -100px; bottom: 200px; background-color: #DD0B3B"></app-rectangle>

  </div>

  <div class="sm-figure">
    <app-circle radius="96px" style="position: absolute; left: -7px; top: 950px; background-color: #FCF250"></app-circle>
    <app-rectangle width="180px" height="278px"
                   style="position: absolute; left: 220px; bottom: -100px; background-color: #DD0B3B"></app-rectangle>
  </div>

  <div style="display: flex; justify-content: center">
    <div style="width: 1200px; max-width: 100%" class="artists">


      <div class="artist-line" *ngFor="let item of items">
        <div class="artist-image-bloc">
          <div class="artist-image">
            <img [src]="'/assets/experts/' + item.imgSrc" alt="artist page">
          </div>
        </div>
        <div class="artist-line-paragraph">
          <h4>{{item.name}}</h4>
          <div>
            {{item.content}}
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
