.artists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 128px;

  margin-top: 64px;
  margin-bottom: 64px;

}

.sm-figure {
  visibility: hidden;
}

.artist-line {
  cursor: pointer;
  transition: all .3s;
  &:hover{
    transform: scale(1.1);
    transition: transform .3s;
    z-index: 1000;
  }
  & .artist-image {
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    & img {
      width: 300px;
      height: 300px;
    }
  }
  & .artist-line-paragraph {
    text-align: start;
    margin-left: 25px;
    & h4 {
      margin-top: 32px;
      margin-bottom: 6px;
    }
  }
}

@media screen and (max-width: 992px) {
  .sm-figure {
    visibility: visible;
  }
}

@media screen and (max-width: 992px) and (min-width: 576px) {
  .artist-line {
    display: flex;
    align-items: center;

    & .artist-line-paragraph {
      margin-left: 32px;
    }
  }

  .artists {
    grid-template-columns: 1fr;
  }

  .lg-figure {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .artist-line {
    display: block;
  }

  .artists {
    grid-template-columns: 1fr;
    grid-row-gap: 64px;
  }

  .artist-line {
    & .artist-image-bloc {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    & .artist-image {
      height: 180px;
      width: 180px;
      & img {
        width: 180px;
        height: 180px;
        cursor: pointer;

      }
    }
    & .artist-line-paragraph {
      font-size: 14px;
      text-align: center;
    }
  }
}
