.artists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 128px;
}

.artist-line {

  & .artist-image {
    overflow: hidden;
    width: 220px;
    height: 220px;
    border-radius: 50%;

    & img {
      width: 220px;
      height: 220px;
    }
  }

  & .artist-line-paragraph {
    & h4 {
      margin-top: 32px
    }
  }
}

@media screen and (max-width: 992px) {
  .artists {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .artists {
    grid-template-columns: 1fr;
  }

  .artist-line {

    & .artist-image {
      height: 180px;
      width: 180px;

      & img {
        width: 180px;
        height: 180px;
      }
    }

    & .artist-line-paragraph {
      font-size: 14px;
    }
  }
}
