@import "/src/styles/index";

.home {
  width: 100%;
  margin-top: 134px;
  &-category {
    position: relative;
    width: 350px;
    height: auto;
    margin-left: 200px;
    display: flex;
    z-index: 1;
    &-circle {
      position: absolute;
      height: 176px !important;
      width: 176px !important;
      left: -29px !important;
      top: 196px !important;
    }

    &-rectangle {
      background-color: #18518D;
      height: 259px !important;
      width: 62px !important;
    }

    &-second-rectangle {
      background-color: #DD0B3B;
      height: 189px !important;
      width: 223px !important;
      left: 53%;
      top: 18%;
    }

    &-third-rectangle {
      background-color: #DF1CBD;
      height: 139px !important;
      width: 474px !important;
      right: 2px;
      top: 50%;
    }

    &-rectangle-yellow {
      height: 140px !important;
      width: 218px !important;
      background: #EC8922;
      position: absolute;
      top: 72%;
      left: -7%;
      z-index: -1;
    }
  }

  &-second-category {
    display: flex;
    width: 82%;
    height: 385px;
    justify-content: flex-end;
    margin-top: -100px;
    position: relative;

    &-rectangle-yellow {
      height: 140px !important;
      width: 218px !important;
      position: absolute;
      background: #EC8922;
      top: 82%;
      right: 23%;
      z-index: -1;

    }

    &-rectangle-green-light {
      height: 140px !important;
      width: 102px !important;
      position: absolute;
      background: #162C13;
      top: 100%;
      left: 25%;

    }
  }

  &-rectangle-red {
    height: 378px !important;
    width: 198px !important;
    position: absolute;
    background: #DD0B3B;
    top: 126%;
    right: 0;
    z-index: -1;

  }

  &-third-category {
    display: flex;
    width: 95%;
    margin-top: 177px;
    height: 385px;
    justify-content: space-between;

    &-rectangle-yellow {
      height: 140px !important;
      width: 218px !important;
      position: absolute;
      background: #EC8922;
      top: 82%;
      right: 23%;
      z-index: -1;
    }

    &-rectangle-green-light {
      height: 140px !important;
      width: 102px !important;
      position: absolute;
      background: #162C13;
      top: 100%;
      left: 25%;

    }

    &-geometry {
      display: flex;

      & .app-circle {
        background-color: #FCF250;
        width: 100px !important;
        height: 100px !important;
      }

      & .app-rectangle {
        margin-left: 143px;
        margin-top: 64px;
        width: 95px !important;
        height: 150px !important;
        background-color: #DD0B3B;
      }
    }
  }

  &-fourth-category {
    margin-top: -120px;
    width: 350px;
    height: auto;
    margin-left: 233px;
    position: relative;

    & .app-circle {
      background-color: #18518D;
      position: absolute;
      height: 170px !important;
      width: 170px !important;
      left: 140%;
      top: 0;
    }
  }
  &-circle-geometry {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 233px;
    top: 228%;
    & .app-circle {
      height: 95px !important;
      width: 95px !important;
    }
  }
  &-second-rectangle-red{
    & .app-rectangle{
      position: absolute;
      left: 50%;
      background-color: #DD0B3B;
      width: 177px !important;
    }
  }
}
