<app-header></app-header>
<div class="home">
  <div class="home-first">
    <app-category [link]="other[0].routinkLing" [src]="other[0].image" [city]="other[0].category"
                  [quarter]="other[0].place"
                  [description]="other[0].content"></app-category>
    <app-circle class="second-pink-circle"></app-circle>
    <app-rectangle class="second-blue-rectangle"></app-rectangle>
    <app-rectangle class="second-red-rectangle"></app-rectangle>
    <app-rectangle class="second-pink-rectangle"></app-rectangle>
    <app-rectangle class="first-yellow-rectangle"></app-rectangle>
    <app-rectangle class="first-green-rectangle"></app-rectangle>

  </div>
  <div class="home-second">
    <app-category [link]="other[1].routinkLing" [src]="other[1].image" [city]="other[1].category"
                  [quarter]="other[1].place"
                  [description]="other[1].content">
    </app-category>
    <app-rectangle class="first-green-rectangle"></app-rectangle>
    <app-rectangle class="second-yellow-rectangle"></app-rectangle>
    <div class="first-third-circle">
      <app-circle></app-circle>
      <app-circle></app-circle>
      <app-circle></app-circle>
    </div>
    <app-rectangle class="third-red-rectangle"></app-rectangle>
    <app-rectangle class="fourth-red-rectangle"></app-rectangle>
    <div class="second-third-circle">
      <app-circle></app-circle>
      <app-circle></app-circle>
      <app-circle></app-circle>
    </div>
    <app-circle class="first-blue-circle"></app-circle>

  </div>
  <div class="home-third">
    <app-category [link]="other[2].routinkLing" [src]="other[2].image" [city]="other[2].category"
                  [quarter]="other[2].place"
                  [description]="other[2].content">
    </app-category>
    <app-circle class="first-blue-circle"></app-circle>
    <div class="second-third-circle">
      <app-circle></app-circle>
      <app-circle></app-circle>
      <app-circle></app-circle>
    </div>
    <app-circle class="first-green-circle"></app-circle>
    <app-rectangle class="third-red-rectangle"></app-rectangle>
    <app-rectangle class="second-yellow-rectangle"></app-rectangle>
  </div>
</div>
<div class="layout-footer">
  <app-rectangle class="five-red-rectangle"></app-rectangle>
  <app-footer></app-footer>
</div>
