.app-layout {
  display: block;
  width: 100%;
  position: relative;
}

.layout-wrapper{
  box-sizing: border-box;
  overflow: hidden;

}

.layout-block {
  box-sizing: border-box;
  overflow: hidden;

}
