a{
  color: #FFFFFF;
}
.about-us-teams-team {
  margin-top: 14px;
}

.about-us-container {
  margin-top: 64px;
}

.about-us-layout-1 {
  display: flex;

  & > div {
    width: 50%;
    padding: 18px;
    box-sizing: border-box;

    & p {
      margin-top: 32px;
    }
  }
}

.about-us-layout-2 {
  margin-top: 132px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 32px;

  & h4 {
    font-style: italic;
  }
}

.about-us-layout-3 {
  margin-top: 132px;
  display: flex;

  & > div {
    width: 50%;
  }

  & .images img {
    margin-right: 32px;
  }
}


.about-us-image {
  width: 100%;
}

.image-line-group {
  & img {
    width: 100%;
  }
  & a {
    display: inline-block;
  }

  & .image-line-1 {
    display: grid;
    grid-template-columns: 14fr 20fr 32fr 30fr;
    grid-column-gap: 8px;
  }
  & .image-line-2 {
    display: grid;
    grid-template-columns: 22fr 17fr 17fr 14fr 21fr;
    grid-column-gap: 6px;
  }

  & .image-line-3 {
    display: grid;
    grid-template-columns: 36fr 42fr 48fr;
    grid-column-gap: 3px;
    margin-top: 8px;
  }

  & .image-line-4 {
    display: grid;
    grid-template-columns: 50fr 42fr;
    grid-column-gap: 8px;
  }

  & .image-line-5 {
    display: grid;
    grid-template-columns: 20fr 78fr;
    grid-column-gap: 8px;
  }
}

@media screen and (max-width: 992px) {
  .about-us-layout-2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .about-us-layout-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .about-us-layout-1 {
    display: block;

    & > div {
      width: 100%;
    }
  }

  .about-us-layout-2 {
    grid-template-columns: 1fr;
  }

  .about-us-layout-3 {
    display: block;

    & .images {
      margin-top: 64px;
    }
  }
}
