<app-layout>

    <app-rectangle width="200px" height="350px"
                   style="background: rgb(252, 242, 80); position:absolute; left: 0; top: 200px">

    </app-rectangle>


    <div>
      <img class="about-us-image" src="/assets/images/about-us-1.PNG" alt="about-us image" width="796" style="margin-top: 64px">


      <div class="paragraph">
        <h4 class="paragraph-title">Über das Festival</h4>
        <div class="paragraph-content">
          <p>
            Keine:r kann genau sagen, wann die Idee zu diesem Festival entstanden ist, sicher ist aber, es ist Zeit,
            die Dinge selbst in die Hand zu nehmen. Das Festival ist unser Raum, um über die Selbstverständlichkeit
            von Diversität und Komplexität im Hier und Jetzt zu sprechen. Denn der eigene Erfahrungsraum ist endlich.
            Es braucht die Bereitschaft und das Vertrauen die Erfahrungen und das Wissen der Anderen zuzulassen.
            Sichtbarkeit ist das zentrale Moment, um diese Prozesse in Gang zu setzen und eigentlich ist es wie im
            Digitalen:
            Die komplexesten Konstruktionen lassen sich immer auf zwei Elemente zurückführen:
            0 und 1. Genau das ist der Ausgangspunkt für unser Festival. Wir wollen Expert:innen mit Ihren Themen
            sichtbar machen.
            Wir wollen Räume zum Aushalten und Aushandeln schaffen. Wir wollen gemeinsam Gesellschaft anders denken.
          </p>
          <p>
            Anmerkung in eigener Sache: Alle Veranstaltungen sind ohne Eintritt!
            Wir schenken Euch und Ihnen einen tollen Abend und wertvolle Begegnungen, das tun wir gern.
            Wir bitten Euch und Sie, die Seebrücke Dortmund mit einer Spende zu unterstützen,
            denn die Selbstverständlichkeit von Diversität und Komplexität braucht Solidarität.
          </p>

          <p style="margin-top: 32px">Wir freuen uns auf die Begegnung mit Ihnen! </p>
          <p style="margin-top: 32px">Ihr Team Bildungswerk Vielfalt </p>
        </div>
      </div>

    </div>

  <div class="teams" >

    <h3>Festivalteam</h3>
    <div class="teams-layout">
      <div class="team-item" *ngFor="let item of teams">

        <img [src]="item.imgSrc" alt="Team image"  />
        <div class="team-text">
          {{item.text}}
        </div>
      </div>
    </div>
  </div>
</app-layout>
