.about-us-container {
  margin-top: 64px;
}

.about-us-layout-1 {
  display: flex;

  & > div {
    width: 50%;
    padding: 18px;
    box-sizing: border-box;

    & p {
      margin-top: 32px;
    }
  }
}

.about-us-layout-2 {
  margin-top: 132px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 32px;

  & h4 {
    font-style: italic;
  }
}

.about-us-layout-3 {
  margin-top: 132px;

  display: flex;

  & > div {
    width: 50%;
  }

  & .images img {
    margin-right: 32px;
  }
}


.about-us-image {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .about-us-layout-2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .about-us-layout-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .about-us-layout-1 {
    display: block;

    & > div {
      width: 100%;
    }
  }

  .about-us-layout-2 {
    grid-template-columns: 1fr;
  }

  .about-us-layout-3 {
    display: block;

    & .images {
      margin-top: 64px;
    }
  }
}
