.about-us-image {
  width: 100%;
}

.teams {
  width: 100%;
  box-sizing: border-box;
  margin-top: 94px;

  & .teams-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 48px;
  }
}

.team-item {
  display: flex;
  padding: 2px;

  & img {
    width: 120px;
    height: 120px;
  }

  & .team-text {
    margin-left: 32px;
  }
}

@media screen and (max-width: 768px) {
  .teams {
    margin-top: 80px;

    & .teams-layout {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 48px;
    }
  }
}
