/* You can add global styles to this file, and also import other style files */
@import "styles/index";

@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo Regular'), url('Menlo-Regular.woff') format('woff'),
  url('Menlo-Regular-400.ttf') format('truetype')
;
}

html {
  height: 100%;
}

body {
  background-color: #000;
  color: #FFFFFF;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Menlo Regular', "Helvetica Neue", sans-serif;
  width: 100%;
  height: auto;


}


