/* You can add global styles to this file, and also import other style files */
@import "assets/styles/index";

@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo Regular'), url('/assets/Menlo-Regular.woff') format('woff'),
  url('/assets/Menlo-Regular-400.ttf') format('truetype')
;
}

html {
  height: 100%;
}

body {
  background-color: #000;
  color: #FFFFFF;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Menlo Regular', "Helvetica Neue", sans-serif;
  width: 100%;
  height: auto;

  @media screen and (max-width: 1536px) {

  }

}


.container {
  max-width: 100%;
  overflow: hidden;
}
