
<app-layout>
  <div class="page-block">

    <app-rectangle width="200px" height="350px" style="background: rgb(252, 242, 80); position:absolute; left: 0; top: 200px">

    </app-rectangle>
    <div class="page-content">
      <div class="title">Zuhören</div>
      <h4 class="date">06 Oktober 2021 in Dordmund U</h4>
      <h4 class="Text">Lorem upsum dolor</h4>
      <img src="./assets/themenfotos/_DTF0741.jpg" alt="about-us image" width="796" style="margin-top: 64px">
      <div class="paragraph">
        <h5 class="paragraph-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A doloribus minus nemo rem reprehenderit,
          repudiandae sed suscipit? Atque error molestias quis. Deserunt eligendi illo incidunt omnis qui reiciendis,
          sapiente voluptatibus!
        </h5>
        <h4 class="paragraph-title">Tickets</h4>
      </div>
    </div>
  </div>
</app-layout>
