@import "src/styles";
$font-size-desktop:15px;
$font-size-large-desktop:18px;
$font-size-normal:30px;

:host {
  & a {
    color: white;
    font-size: 30px;
    font-weight: bold;

    text-decoration: none;

    @include large-desktop(){
      font-size: $font-size-large-desktop;
    }
    @include desktop(){
      font-size: $font-size-desktop;
    }
    @include tablet(){
      font-size: $font-size-desktop;

    }
    @include phone(){
      font-size: 12px;
    }

  }
  .footer{
    margin-left: 32px;
    padding-top: 16px;
    // margin-bottom: 60px;
    height: 60px;



  }

}
